.cursor {
	display: none;
}
@media (any-pointer:fine) {
	.cursor {
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		pointer-events: none;
		z-index: 10000;
	}

	.cursor__inner {
		fill: #d6106c;
	}

	.no-js .cursor {
		display: none;
	}

}