.sp-replacer{
  border-color: $tz-border-color;
  background-color: transparent;
  @include box-shadow(none);
}
.sp-preview{
  border-color: $tz-border-color;
}
.sp-container{
  border-color: $tz-border-color;
  background-color: lighten($tz-secondary-color, 42%);
  @include box-shadow(none);
  button{
    font-size: 0.75rem;
    padding: 6px 8px;
    text-shadow: none;
    background-image: none;
    background-color: #fff;
    border-color: $tz-border-color;
    @include border-radius(3px);
    &:focus{
      outline: none;
    }
    &:active{
      @include box-shadow(none);
    }
  }
}
.sp-input{
  @include border-radius(0);
}
.sp-color, .sp-hue, .sp-clear, .sp-alpha-inner{
  border-color: $tz-border-color;
}
.sp-cancel{
  color: $tz-danger-color !important;
}

.wp-picker-container{
  .button{
    //border-color: $tz-border-color;
    &[style]{
      .wp-color-result-text {
        color: #111;
        background: #fff;
        line-height: 2.54545455;
      }
      &.wp-color-result {
        padding: 0 0 0 30px;
      }
    }
    &[style=""],
    &[style*="background-color: rgb(255, 255, 255);"]{
      .wp-color-result-text {
        color: #000;
      }
    }
    &.wp-color-result{
      &:hover{
        background:$tzhover;
        color:#fff !important;
      }
      border-color: $tz-border-color;
    }
    .wp-color-result-text{
      background:none;
      //color:#fff;
      color: #000;
      line-height: 12px;
      border:none;
    }
  }
  input.redux-color{
    line-height: 12px;
    font-size:11px;
    height:auto;
    margin-right:5px;
    padding:0.5rem;
  }
  .wp-picker-input-wrap label{
    width: auto;
  }
}