.redux-slider-container{
  height: 10px;
  border: none;
  cursor:pointer;
  margin-left: 20px;
  margin-right: 20px;
  @include box-shadow(none);
}
.noUi-background{
  background-color: $tz-process-background-color;
  @include box-shadow(none);
}
.noUi-target{
  border-color: $tz-border-color;
  @include box-shadow(none);
  @include border-radius(5px);
}
.noUi-handle{
  //width: 20px;
  //height: 20px;
  cursor:pointer;
  border-color: $tz-border-color;
  @include border-radius(100%);
  &:before{
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    border: none;
    margin-top: -5px;
    margin-left: -5px;
    background: $tz-global-color;
    @include border-radius(100%);
  }
  &:after{
    content: none;
  }
}
//.noUi-horizontal{
//  height: 10px;
//}
.noUi-horizontal .noUi-handle{
  width: 20px;
  height: 20px;
  left: -5px;
  top: -6px;
}
.noUi-origin{
  margin-right: -1px;
  @include border-radius(5px);
}
.noUi-connect{
  background-image: none !important;
  background-color: $tz-global-color !important;
}