.redux-container-switch{
  .cb-enable{
    &.selected {
      border-color: $tz-global-color !important;
      background-image: none !important;
      background-color: $tz-global-color !important;
      @include box-shadow(none !important);
    }
  }
  .cb-disable{
    &.selected{
      color: white;
      background-image: none !important;
      border-color: $tz-secondary-color !important;
      background-color: $tz-secondary-color !important;
      //background-color: lighten($tz-secondary-color, 30%) !important;
    }
  }
  .cb-disable,
  .cb-enable,
  .ui-state-default
    //,.ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
  {
      background-image: none !important;
      background-color: transparent !important;
      border-color: $tz-border-color !important;
      //background-color: lighten($tz-secondary-color, 40%) !important;
    span{
      font-weight: 400;
    }

  }
}