@import "../../../assets/scss/vendor/bootstrap/functions";
@import "../../../assets/scss/vendor/bootstrap/variables";
@import "../../../assets/scss/vendor/bootstrap/mixins";

/* Variables */
$f-color:  #71748d;
$f-color-active:  #727cf5;
$f-bg-color:  #fbfbfb;
$f-bg-color-hover:  rgba(114, 124, 245, 0.1);
$f-border-color:  #e8ebf1;

.fl-tz_layout-ui-tooltip{
  position: absolute;
  z-index: 1070;
  font-size: 0.75rem;
  color: white;
  .ui-tooltip-content{
    position: relative;
    top: -0.4rem;
    color: white;
    background: #000;
    padding: 0.4rem 0.75rem;
    -webkit-border-radius: 0.375rem;
    -moz-border-radius: 0.375rem;
    border-radius: 0.375rem;
  }
  .fl-arrow{
    display: block;
    width: 0.8rem;
    height: 0.4rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -0.4rem;
    //bottom: -0.2rem;
    &:before{
      content: "";
      position: absolute;
      border-color: transparent;
      border-style: solid;
    }
    &.top{
      top: -6px;
      bottom: auto;
      &:before{
        //top: 0;
        border-width: 0 0.4rem 0.4rem;
        border-bottom-color: #000;
      }
    }
    &.bottom{
      //top: -6px;
      //bottom: auto;
      &:before{
        //top: 0;
        border-width: 0.4rem 0.4rem 0;
        border-top-color: #000;
      }
    }

    //&.top {
    //  top: -16px;
    //  bottom: auto;
    //}
    //&.left {
    //  left: 20%;
    //}
  }
}
.redux-container.templaza-framework-options{
  .form-table>tbody>tr.field-tz_layout-content>th{
    display: none;
  }
}
.redux-container-tz_layout,
.redux-container-tz_layout__dialog{
  margin: 0 -15px;

  *,
  *::before,
  *::after {
    box-sizing: border-box; // 1
  }

  //@import "../../../assets/scss/vendor/bootstrap/reboot";
  //@import "../../../assets/scss/vendor/bootstrap/type";
  //@import "../../../assets/scss/vendor/bootstrap/images";
  //@import "../../../assets/scss/vendor/bootstrap/code";
  @import "../../../assets/scss/vendor/bootstrap/grid";
  //@import "../../../assets/scss/vendor/bootstrap/tables";
  //@import "../../../assets/scss/vendor/bootstrap/forms";
  //@import "../../../assets/scss/vendor/bootstrap/buttons";
  //@import "../../../assets/scss/vendor/bootstrap/transitions";
  //@import "../../../assets/scss/vendor/bootstrap/dropdown";
  //@import "../../../assets/scss/vendor/bootstrap/button-group";
  //@import "../../../assets/scss/vendor/bootstrap/input-group";
  //@import "../../../assets/scss/vendor/bootstrap/custom-forms";
  //@import "../../../assets/scss/vendor/bootstrap/nav";
  //@import "../../../assets/scss/vendor/bootstrap/navbar";
  //@import "../../../assets/scss/vendor/bootstrap/card";
  //@import "../../../assets/scss/vendor/bootstrap/breadcrumb";
  //@import "../../../assets/scss/vendor/bootstrap/pagination";
  //@import "../../../assets/scss/vendor/bootstrap/badge";
  //@import "../../../assets/scss/vendor/bootstrap/jumbotron";
  //@import "../../../assets/scss/vendor/bootstrap/alert";
  //@import "../../../assets/scss/vendor/bootstrap/progress";
  //@import "../../../assets/scss/vendor/bootstrap/media";
  //@import "../../../assets/scss/vendor/bootstrap/list-group";
  //@import "../../../assets/scss/vendor/bootstrap/close";
  //@import "../../../assets/scss/vendor/bootstrap/toasts";
  //@import "../../../assets/scss/vendor/bootstrap/modal";
  //@import "../../../assets/scss/vendor/bootstrap/tooltip";
  //@import "../../../assets/scss/vendor/bootstrap/popover";
  //@import "../../../assets/scss/vendor/bootstrap/carousel";
  //@import "../../../assets/scss/vendor/bootstrap/spinners";
  @import "../../../assets/scss/vendor/bootstrap/utilities";
  //@import "../../../assets/scss/vendor/bootstrap/print";

  .fl_section{
    &.fl_row {
      > .fl_element-wrapper{
        border-top: 1px solid $f-border-color;

        >.fl_row_container > .fl_column {
          display: block;
        }
      }
    }
  }
  .fl_control{
    color: $f-color;
    text-decoration: none;
    position: relative;
    -webkit-transition: color 300ms linear;
    -moz-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    -o-transition: color 300ms linear;
    transition: color 300ms linear;
    &:hover{
      color: $f-color-active;
    }

    &.fl_control-title{
      font-weight: 600;
      text-transform: uppercase;
      &:hover{
        color: $f-color;
      }
    }
  }
  .fl_controls-row{
    .fl_column-move{
      cursor: move;
      //margin-right: 2px;
    }
    //.fl_column-move,
    //.fl_column-add{
    //  float: left;
    //}
    .fl_control{
      //color: $f-color;
      padding: 6px 8px;
      display: inline-block;
      border: 1px solid $f-border-color;
      -webkit-transition: all 300ms linear;
      -moz-transition: all 300ms linear;
      -ms-transition: all 300ms linear;
      -o-transition: all 300ms linear;
      transition: all 300ms linear;
      &:hover{
        //color: $f-color-active;
        border-color: $f-bg-color-hover;
        background-color: $f-bg-color-hover;
      }
      &.fl_control-title{
        border: none;
        &:hover{
          background: none;
        }
      }
    }
    .fl_controls-row-left{
      .fl_control{
        float: left;
        margin-right: 2px;
      }
    }
    .fl_controls-row-right{
      .fl_control{
        float: right;
        margin-left: 2px;
      }
    }
  }
  .fl_row{
    margin: 15px 0;
    //margin: 10px 0;
    //padding: 9px 0;
    //&:first-child{
    //  margin-top: 0;
    //}
    > .fl_element-wrapper{
      position: relative;
      top: -1px;
      -webkit-transition: opacity 300ms ease-in-out;
      -moz-transition: opacity 300ms ease-in-out;
      -ms-transition: opacity 300ms ease-in-out;
      -o-transition: opacity 300ms ease-in-out;
      transition: opacity 300ms ease-in-out;
    }
    &.fl_collapsed-row{
      padding: 5px;
      border: 1px solid $f-border-color;
      > .fl_element-wrapper{
        height: 0;
        opacity: 0;
        visibility: hidden;
      }
      > .fl_controls-row .fl_control:not(.fl_control-title){
        //border-color: transparent;
        background: lighten($f-border-color, 2%);
        &:hover{
          background: $f-bg-color-hover;
        }
        //&.fl_column-move{
        //  background: $f-bg-color;
        //}
      }
    }
    &.ui-sortable-helper{
    //  background: #fff;
      &.fl_collapsed-row{
        background: #fff;
      }
      .fl_column > .fl_element-wrapper{
        background: #fff;
      }
      .fl_control:not(.fl_control-title){
        background: #fff;
      }
    }
  }
  .fl_row_inner:not(.fl_collapsed-row){
    margin-bottom: 0;
    + .fl_content_element{
      margin-top: 0;
    }
  }
  .fl_controls-column{
    .fl_control{
      margin: 0 4px;
    }
  }
  .fl_column{
    > .fl_element-wrapper{
      //min-height: 67px;
      flex: 1;
      border-width: 0 1px 1px;
      border-style: solid;
      padding: 5px 15px;
      border-color: $f-border-color;
      //border: 1px solid $f-border-color;
      //border-top: none;
      //border-bottom: noen;
    }
  }
  .fl_empty-column{
    > .fl_controls{
      .column_add{
        display: none;
      }
      &.bottom-controls{
        display: none;
      }
    }
  }
  .fl_row_container>.fl_column>.fl_controls{
    padding: 8px 13px;
    text-align: center;
    background-color: $f-bg-color;
    border: 1px solid $f-border-color;
    &.bottom-controls{
      border-top: none;
    }
  }
  .fl_content_element{
    cursor: move;
    margin: 10px 0;
    min-height: 36px;
    padding: 9px 10px;
    position: relative;
    border: 1px dashed $f-border-color;
    &:hover{
      .fl_controls{
        opacity: 1;
        visibility: visible;
      }
    }
    &.ui-sortable-helper{
      background: #fff;
    }
    .fl_controls{
      position: absolute;
      right: 10px;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: opacity 300ms linear;
      -moz-transition: opacity 300ms linear;
      -ms-transition: opacity 300ms linear;
      -o-transition: opacity 300ms linear;
      transition: opacity 300ms linear;
    }
  }
  .fl_add-element-not-empty-button{
    display: block;
    color: $f-color;
    margin-top: 40px;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    border: 1px solid $f-border-color;
    &:hover{
      color: #fff;
      background: $f-color-active;
      border-color: $f-color-active;
    }
  }
  .fl_container_for_children{
    position: relative;
  }
  .fl_empty-container{
    min-height: 58px;
    cursor: pointer;
    height: 100%;
    &:after{
      content: "\f067";
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 24px;
      height: 24px;
      margin: auto;
      font-size: 24px;
      line-height: 24px;
      color: #71748d;
    }
    &:hover:after{
      color: $f-color-active;
    }
  }
  .fl-ui-state-highlight{
    background: lighten($f-border-color, 2%);
    position: relative;
    &.fl-column-state-highlight{
      margin: 0 15px 15px;
    }
    &.fl-row-state-highlight{
      margin: 15px 0;
    }
    &.fl-element-state-highlight{
      margin: 10px 0;
      padding: 9px 0;
    }
  }

  .fl_row_container > .fl_column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 15px;
    //position: relative;

    &.ui-sortable-helper{
      .fl_element-wrapper {
        background: #fff;
      }
    }
  }

  // List Elements
  .fl_ui-panel-content-container{
    color: $f-color;
    .fl_element-icon{
      font-size: 28px;
      color: $f-color-active;
    }
    ul{
      margin-left: -3px;
      margin-right: -3px;
      > li{
        float: left;
        width: 20%;
        padding: 0 3px;
      }
    }
    .fl-layout-element-button{
      cursor: pointer;
      padding: 10px 12px;
      //background: $f-border-color;
      border: 1px solid $f-border-color;
      -webkit-transition: all 300ms linear;
      -moz-transition: all 300ms linear;
      -ms-transition: all 300ms linear;
      -o-transition: all 300ms linear;
      transition: all 300ms linear;
      &:hover{
        border-color: $f-color-active;
        [data-fl-shortcode-name]{
          color: $f-color-active;
        }
      }
    }
    [data-fl-shortcode-name]{
      color: darken($f-color, 10%);
    }
    small{
      color: #999;
    }
  }

  // Grid settings
  .fl-grid-items{
    .fl-grid-item{
      &:hover{
        cursor: pointer;
      }
      .row .fl-grid-item-col{
        position: relative;
        padding: 0px 3px;
        margin-bottom: 30px;
        span{
          min-height: 120px;
          line-height: 120px;
          text-align: center;
          border: 1px solid darken($f-border-color, 20%);
          display: block;
          color: $f-color;
          //border-radius: 4px;
          -webkit-transition: all 0.1s ease-in;
          -moz-transition: all 0.1s ease-in;
          -ms-transition: all 0.1s ease-in;
          -o-transition: all 0.1s ease-in;
          transition: all 0.1s ease-in;
        }

      }
    }
  }
  .fl_element-title{
    display: block;
    margin-left: 20px;
    > *{
      display: block;
    }
    .fl_element-icon{
      float: left;
      margin-left: -20px;
      display: block;
      line-height: 1.3;
    }
    small{
      color: #999;
    }
  }

  //.tzfrm-ui-dialog{
  //  background: none;
  //  .ui-dialog-titlebar{
  //    -webkit-border-radius: 0;
  //    -moz-border-radius: 0;
  //    border-radius: 0;
  //    border-top: none;
  //    border-left: none;
  //    border-right: none;
  //    border-bottom: 1px solid #dfdfdf;
  //  }
  //}
  //.ui-widget-overlay{
  //  opacity: 0.7;
  //  background: #000;
  //}
  //.ui-icon{
  //  display: none;
  //}
  //.ui-widget-content{
  //  .ui-dialog-titlebar-close{
  //    border: none;
  //  }
  //}
}