.tz-navbar-login{
  .uk-navbar-nav{
    > li{
      padding:0 !important;
      margin:0 !important;
      >a{
        min-height: 0;
        text-transform: inherit;
        i{
          margin-right:5px;
        }
      }
      .uk-navbar-dropdown{
        li{
          display:block;
          text-align: left;
          padding-left:0 !important;
          margin-left:0 !important;
          &:before{
            display:none;
          }
        }
      }
    }
  }
}
.ui-card{
  &.yes{
    .ui-media{
      position:relative;
      &:after{
        border-left: 6px solid rgba(0, 0, 0, 0);
        border-right: 6px solid rgba(0, 0, 0, 0);
        border-top: 6px solid #ff5400;
        border-top-color: rgb(255, 84, 0);
        bottom: -5px;
        content: "";
        left: 50%;
        margin-left: -6px;
        visibility: visible;
        opacity: 1;
        position: absolute;
        transition: all 300ms ease 0s;
        -webkit-transition: all 300ms ease 0s;
        -moz-transition: all 300ms ease 0s;
        -ms-transition: all 300ms ease 0s;
        -o-transition: all 300ms ease 0s;
      }
    }
  }
}