ul.templaza-social{
  li{
    display:inline;
    a {
      i {
        padding: 0;
      }
    }
    &:hover{
      color:$tztheme-global-color;
    }
  }
}
.tz-visible-right{
  overflow:visible;
  clip-path: inset(-100vw -100vw -100vw 0);
}
.tz-visible-left{
  overflow:visible;
  clip-path: inset(0 -100vw -100vw -100vw);
}
.tz-visible{
  overflow:visible;
}