
body .notifyjs-corner {
  z-index: 99999;
}

body.admin-bar .notifyjs-corner {
  transform: translateY(32px);
}

.notifyjs-templaza-success {
  color: #299c77;
  background-color: #bff9d0;
}

.notifyjs-templaza-error {
  color: #fff;
  background-color: #b81c23;
}

.notifyjs-templaza-error ul {
  margin: 0;
  padding: 0;
}

.notifyjs-templaza-error ul li {
  list-style: none;
}

.notifyjs-templaza-error ul li ::marker {
  display: none;
}

.notifyjs-templaza-info {
  color: #fff;
  background-color: #1e85be;
}

.notifyjs-templaza-base {
  font-weight: 400;
  position: relative;
  padding: 15px 40px 15px 60px;
  margin-bottom: 10px;
  box-shadow: 0 4px 10px 0 rgba(3, 3, 3, 0.1);
  max-width: 450px;
}

.notifyjs-templaza-base .message-icon {
  position: absolute;
  left: 20px;
  top: 17px;
  font-size: 20px;
}

.notifyjs-templaza-base .button.wc-forward {
  display: none;
}

.notifyjs-templaza-base .btn-button {
  padding-left: 5px;
  color: #299c77;
  text-decoration: underline;
}

.notifyjs-templaza-base .svg-active {
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 11px;
}

.notifyjs-templaza-base .message-box {
  display: inline-block;
}

.templaza-product-popup-atc__notice {
  padding: 13px 20px;
  margin-right: 50px;
  background-color: #2f8a33;
  color: #fff;
  display: inline-block;
  margin-bottom: 27px;
}

.templaza-product-popup-atc__notice .cart-view-btn {
  color: #fff;
  font-size: 14px;
  margin-left: 5px;
  padding-bottom: 1px;
  border-bottom: 1px solid transparent;
}

.templaza-product-popup-atc__notice .cart-view-btn:hover {
  border-color: #fff;
}

.rz-popup-add-to-cart .button-close {
  top: 0;
  right: 3px;
  transform: none;
  z-index: 999;
  cursor: pointer;
  margin: 0;
  padding: 10px;
  border-radius: 50%;
  opacity: 0;
  font-size: 14px;
}

.rz-popup-add-to-cart.loaded .button-close, .rz-popup-add-to-cart.open .button-close {
  opacity: 1;
}

.rz-popup-add-to-cart .modal-content {
  max-width: 770px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.rz-popup-add-to-cart .widget_shopping_cart_content {
  height: auto;
  display: flex;
  align-items: center;
}

.rz-popup-add-to-cart .widget_shopping_cart_content .woocommerce-mini-cart-item__thumbnail {
  padding-right: 20px;
}

.rz-popup-add-to-cart .widget_shopping_cart_content ul.cart_list {
  height: auto;
  width: 55%;
  padding: 0;
  max-height: 170px;
  padding-right: 30px;
}

.rz-popup-add-to-cart .widget_shopping_cart_content ul.cart_list .woocommerce-mini-cart-item {
  border-bottom: none;
  margin-bottom: 0;
}

.rz-popup-add-to-cart .widget_shopping_cart_content ul.cart_list .woocommerce-mini-cart-item:not(.active) {
  display: none;
}

.rz-popup-add-to-cart .widget_shopping_cart_content ul.cart_list .woocommerce-mini-cart-item__title {
  font-size: 16px;
}

.rz-popup-add-to-cart .widget_shopping_cart_content ul.cart_list a.remove,
.rz-popup-add-to-cart .widget_shopping_cart_content ul.cart_list .woocommerce-cart-item__qty {
  display: none;
}

.rz-popup-add-to-cart .widget_shopping_cart_content ul.cart_list .woocommerce-mini-cart-item__qty {
  display: block !important;
  visibility: visible !important;
  font-weight: 400;
  margin-top: 5px;
}

.rz-popup-add-to-cart .widget_shopping_cart_content ul.cart_list::-webkit-scrollbar {
  width: 3px;
}

.rz-popup-add-to-cart .widget_shopping_cart_content ul.cart_list::-webkit-scrollbar-track {
  background-color: transparent;
}

.rz-popup-add-to-cart .widget_shopping_cart_content .widget_shopping_cart_footer {
  width: 45%;
  padding: 0 0 0 30px;
  position: relative;
  bottom: auto;
}

.rz-popup-add-to-cart .widget_shopping_cart_content .widget_shopping_cart_footer:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1px;
  content: "";
  border-right: 1px solid #e2e2e2;
}

.rz-popup-add-to-cart .widget_shopping_cart_content .widget_shopping_cart_footer .total {
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.rz-popup-add-to-cart .widget_shopping_cart_content .widget_shopping_cart_footer .templaza-button {
  width: 100%;
}

.rz-popup-add-to-cart.loading .product-modal-content {
  opacity: 0;
  transition: none;
}

.rz-popup-add-to-cart.loading .templaza-posts__loading {
  display: block;
  background-color: transparent;
}

.rz-popup-add-to-cart.loading .templaza-posts__loading .templaza-loading {
  transform: translate(-50%, -50%);
  top: 50%;
}

.rz-popup-add-to-cart .woocommerce-mini-cart__count_notice {
  display: block !important;
  visibility: visible !important;
  text-align: left;
  margin-bottom: 10px;
  color: var(--rz-text-color);
  font-weight: 400;
  font-size: 16px;
}

.rz-popup-add-to-cart .rz-product-popup-atc__notice {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  color: var(--rz-color-dark);
}

.rz-popup-add-to-cart .rz-product-popup-atc__recommendation {
  border-top: 1px solid #e2e2e2;
  padding-top: $tztheme_modal_spacing;
  margin-top: $tztheme_modal_spacing;
}

.rz-popup-add-to-cart .rz-product-popup-atc__recommendation.loading {
  height: 0;
  opacity: 0;
  transition: height 0.4s;
}

.rz-popup-add-to-cart .rz-product-popup-atc__recommendation.active {
  height: auto;
  opacity: 1;
}

.rz-popup-add-to-cart .rz-product-popup-atc__recommendation.loaded {
  display: block;
}

.rz-popup-add-to-cart .rz-product-popup-atc__recommendation .product-heading {
  font-size: 24px;
  margin: 0 20px 20px 0;
  font-weight: 500;
  line-height: 1;
}

.rz-popup-add-to-cart .rz-product-popup-atc__recommendation .recommendation-heading {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.rz-popup-add-to-cart .rz-product-popup-atc__recommendation .templaza-svg-icon {
  color: #bababa;
  font-size: 24px;
  cursor: pointer;
  transition: 0.3s;
}

.rz-popup-add-to-cart .rz-product-popup-atc__recommendation .templaza-svg-icon svg {
  /*rtl:raw:
              transform: rotate(-180deg);
          */
}

.rz-popup-add-to-cart .rz-product-popup-atc__recommendation .rz-swiper-buttons {
  display:flex;
}
.rz-popup-add-to-cart .rz-product-popup-atc__recommendation .rz-swiper-buttons span{
  width:20px;
  text-align: center;
}
.rz-popup-add-to-cart .rz-product-popup-atc__recommendation .rz-swiper-buttons:focus {
  outline: none;
}

.rz-popup-add-to-cart .rz-product-popup-atc__recommendation .rz-swiper-buttons:hover {
  color: #111;
  cursor: pointer;
}

.rz-popup-add-to-cart .rz-product-popup-atc__recommendation .rz-swiper-buttons .swiper-button-disabled {
  cursor: auto;
  color: #bababa;
  opacity: 0.5;
}

.rz-popup-add-to-cart .rz-product-popup-atc__recommendation .rz-swiper-button-next {
  margin-right: -5px;
}

.rz-popup-add-to-cart .rz-product-popup-atc__recommendation .swiper-button-lock,
.rz-popup-add-to-cart .rz-product-popup-atc__recommendation .swiper-pagination.swiper-pagination-lock,
.rz-popup-add-to-cart .rz-product-popup-atc__recommendation .swiper-pagination {
  display: none;
}

.rz-popup-add-to-cart .rz-product-popup-atc__recommendation ul.product-items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  text-align: center;
}

.rz-popup-add-to-cart .rz-product-popup-atc__recommendation ul.product-items li.product-item .product-title {
  display: block;
  font-size: 16px;
  font-weight: $tztheme-catalog-title-weight;
  color: $tztheme-heading-color;
  margin-top: 10px;
  line-height: 1.2;
}

.rz-popup-add-to-cart .rz-product-popup-atc__recommendation ul.product-items li.product-item .product-price {
  color: $tztheme-global-color;
  font-size: 16px;
  font-weight: $tztheme-catalog-price-weight;
  display: inline-block;
  margin-top: 5px;
}

.rz-popup-add-to-cart .rz-product-popup-atc__recommendation ul.product-items li.product-item .product-price del {
  font-size: 14px;
  color: #a6a6a6;
}

.rz-popup-add-to-cart .rz-product-popup-atc__recommendation ul.product-items li.product-item .product-price ins {
  background-color: transparent;
  color: var(--rz-color-primary);
  padding-left: 5px;
}
