.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0,0,0,.5);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  left: 0;
  top: 0;
}
.templaza-history-products {
  margin-bottom: 80px;
  position: relative;
  margin-top:60px;
}

.templaza-history-products .recently-header {
  margin: 0 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: $tztheme-shop-detail-related-size;
  text-transform: $tztheme-shop-detail-related-transform;
  font-weight: $tztheme-shop-detail-title-weight;
  position: relative;
}

.templaza-history-products .recently-header.no-button {
  justify-content: center;
}

.templaza-history-products .recently-title {
  margin: 0 25px 0 0;
  font-size: $tztheme-shop-detail-related-size;
  text-transform: $tztheme-shop-detail-related-transform;
  font-weight: $tztheme-shop-detail-title-weight;
}

.templaza-history-products:not(.grid-type) ul.products {
  margin: 0;
  flex-wrap: initial;
}

.templaza-history-products:not(.grid-type) ul.products li.product {
  padding: 0;
}

.templaza-history-products .product-list {
  list-style: none;
  padding: 0;
}

.templaza-history-products .product-list.no-products li {
  width: 100%;
}

.templaza-history-products .product-list.no-products .templaza-button {
  margin-top: 35px;
}

.templaza-history-products .product-list li {
  display: inline-block;
}

.templaza-history-products .product-list li .product-infor {
  display: none;
  width: auto;
  min-width: 150px;
  position: absolute;
  top: 100px;
  z-index: 10002;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.3);
  padding: 10px 25px;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
}

.templaza-history-products .product-list li .product-title {
  margin: 0 0 3px;
  white-space: nowrap;
}

.templaza-history-products .product-list li .product-price {
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
}

.templaza-history-products .product-list li .product-price del {
  font-size: 14px;
  color: #a6a6a6;
}

.templaza-history-products .product-list li .product-price ins {
  background-color: transparent;
  padding-left: 5px;
}

.templaza-history-products .product-list li .hover-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .4s;
}

.templaza-history-products .product-list li:hover .hover-image {
  opacity: 1;
}

.templaza-history-products .swiper-scrollbar {
  max-width: 570px;
  background-color: #e5e5e5;
  cursor: pointer;
  height: 4px;
  border-radius: 0;
  position: static;
  width: 100%;
  margin: 40px auto 0;
}

.templaza-history-products .swiper-scrollbar-drag {
  background-color: $tztheme-global-color;
  cursor: pointer;
}

.templaza-history-products .templaza-posts__loading {
  display: block;
}

.templaza-history-products.loaded .templaza-posts__loading {
  display: none;
}

.templaza-history-products.hide-empty {
  display: none;
}

.single-product .templaza-history-products .recently-header {
  margin-bottom: 70px;
}
