@keyframes TemplazaFadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 80px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes templaza-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.templazaFadeInUp {
  animation-name: TemplazaFadeInUp;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.65, 0.8, 0.44, 0.99);
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.clear::before, .clear::after, .clearfix::before, .clearfix::after {
  content: "";
  display: table;
  table-layout: fixed;
  clear:both;
}
table{
  width:100%;

}
@keyframes templaza-scale {
   30% {
     transform: scale(0.3);
   }
   100% {
     transform: scale(1);
   }
 }
@mixin templaza-shop-loading() {
  position: relative;
  &:before{
    content: '';
    display: block;
    border-radius: 100px;
    position: absolute;
  }

  &:before{
    background-color: $tztheme-global-color;
    height: 13px;
    width: 13px;
    top: 0;
    left: 0;
    animation: templaza-scale 1s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
  }
}