.redux-main {
    .redux-container-background {
        .redux-color-rgba-container{
            margin-bottom: 10px;
        }
    }
    .tzfrm-ui-dialog{
        .redux-container-background .background-preview{
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
        }
    }
}
