@import "component/options";
@import "fields/input";
@import "fields/button_set";
@import "fields/select";
@import "fields/switch";
@import "fields/spinner";
@import "fields/color";
@import "fields/slider";
@import "fields/multi_text";
@import "fields/image_select";
&.tzfrm-postype{
  input[type=color],
  input[type=date],
  input[type=datetime-local],
  input[type=datetime],
  input[type=email],
  input[type=month],
  input[type=number],
  input[type=password],
  input[type=search],
  input[type=tel],
  input[type=text],
  input[type=time],
  input[type=url],
  input[type=week],
  select, textarea{
    border-color: $tz-border-color;
    &:focus{
      border-color: $tz-border-color-focus;
      @include border-radius(0);
      @include box-shadow(none);
    }
  }
  #titlediv #title{
    font-size: 1.5em;
    padding: 20px 15px;
    border-color: transparent;
    @include border-radius(0);
    @include box-shadow(0 3px 7px 0 rgba(183, 192, 206, 0.2));
  }
  .postbox{
    border: none;
    @include box-shadow($shadow_all);
  }
  .postbox-header{
    border-color: $tz-white-border-color;
  }
  #major-publishing-actions{
    border-top-color: $tz-white-border-color;
  }
  .submitbox .submitdelete{
    color: $tz-danger-color;
  }
  #publishing-action{
    display:flex;
    flex-wrap: wrap;
  }
}
.redux-container .redux-main{
  .input-append, .input-prepend{
    .add-on{
      //height: 33px;
      padding: 0 8px !important;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 33px;
      border-right: none;
      color: $tz-global-text-color;
      border-color: $tz-border-color;
      > *{
        line-height: 33px;
      }
    }
  }
  input[type=color],
  input[type=date],
  input[type=datetime-local],
  input[type=datetime],
  input[type=email],
  input[type=month],
  input[type=number],
  input[type=password],
  input[type=search],
  input[type=tel],
  input[type=text],
  input[type=time],
  input[type=url],
  input[type=week],
  select, textarea{
    //border-color: $tz-border-color;
    &:focus{
      border-color: $tz-border-color-focus;
      @include border-radius(0);
      @include box-shadow(none);
    }
  }
  input[readonly], input:disabled,
  .form-control:disabled, select:disabled,
  .email-compose-fields .select2-container--default .select2-selection--multiple:disabled,
  .select2-container--default .select2-selection--single:disabled,
  .select2-container--default .select2-selection--single .select2-search__field:disabled, .typeahead:disabled,
  .tt-query:disabled, .tt-hint:disabled, .form-control[readonly], select[readonly],
  .email-compose-fields .select2-container--default .select2-selection--multiple[readonly],
  .select2-container--default .select2-selection--single[readonly],
  .select2-container--default .select2-selection--single .select2-search__field[readonly], .typeahead[readonly],
  .tt-query[readonly], .tt-hint[readonly]{
    border-color: $tz-process-background-color;
    background-color: $tz-process-background-color;
  }
  .redux-container-spinner{
    //.spinner-wrpr .spinner-input{
    //  padding: 0;
    //  margin-bottom: 0;
    //}
    .ui-spinner-button .ui-icon{
      width: 30px;
      height: 30px;
    }
  }
}


