.redux-container{
  background: none;
  border:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  /* Sidebar
   ========================================================================== */
  .redux-sidebar{
    background:$tzbackground;
    width:280px;
    ul.redux-group-menu {
      padding: 0 !important;
    }
    .redux-group-tab-link-a{
      span.group_title{
        padding-left:25px;
      }
      i{
        font-size:12px;
        top:13px;
        &.el-chevron-down{
          font-size:8px;
          top:20px;
        }
      }
    }
    .redux-group-menu{
      background:$tzbackground;
      li{
        a{
          color: $tz-menu-color !important;
          padding: 10px 15px 10px 15px;
          border-radius: 5px;
          margin: 5px 0;
          &:hover{
            background: $tz-background-menu-hover !important;
          }
          .extraIconSubsections{
            >i{
              @include transition(all .3s ease);
            }
          }
        }
        &.activeChild.hasSubSections {
          a {
            background: $tz-background-menu-hover !important;
            color: $tz-menu-color !important;
          }
        }
        &.hasSubSections.redux-section-hover{
          a.redux-group-tab-link-a,
          a.redux-group-tab-link-a:hover {
            background: $tz-background-menu-hover !important;
            color: $tz-menu-color !important;
          }
          .subsection{
            background:#fff !important;
            a.redux-group-tab-link-a{
              background:transparent !important;
            }
          }
        }
        .subsection{
          background: $tzbackground;
          padding-left: 20px;
          .redux-group-tab-link-li{
            &.active{
              a{
                background:$tzbackground !important;
                color:$tzhover !important;
              }
            }
            a{
              color:#000 !important;
              background: #fff;
              border:none;
              //padding:10px 15px 10px 25px;
              &:hover{
                background:$tzbackground !important;
                color:$tzhover !important;
              }
            }
          }
        }

        &.active{
          a{
            width: auto;
            background: $tz-background-menu-hover !important;
            text-shadow: none !important;
            color:$tz-menu-color !important;
          }
        }
        &.active,
        &.activeChild{
          a .extraIconSubsections{
            display: inline-block;
            > i{
              -webkit-transform: rotate(180deg);
              -moz-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
              -o-transform: rotate(180deg);
              transform: rotate(180deg);
            }
          }
        }

        &.activeChild.hasSubSections,
        &.active.hasSubSections{
          > a{
            &:after {
              display: none;
            }
            i{
              color:$tz-menu-color;
            }
          }
          ul{
            li{
              a{
                background: $tzbackground !important;
                text-shadow: none !important;
                padding: 10px 15px 10px 15px;
                font-size:12px;
                @include transition($all);
                &:hover{
                  color: $tz-menu-color !important;
                  background-color: $tz-background-menu-hover !important;
                  text-shadow: none !important;
                }
              }
              &.active{
                a{
                  color: $tz-menu-color !important;
                  background-color: $tz-background-menu-hover !important;
                  text-shadow: none !important;
                  &:after {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  /* Header
   ========================================================================== */
  #redux-header {
    background: $tzbackground !important;
    margin-top: 10px;
    margin-bottom: 30px;
    border: none;
    padding: 0;
    .rAds{
      display:none !important;
    }
    .display_header {
      margin: 0;
      h2 {
        color:$tz-heading-color;
      }
      span{
        color:$tz-muted-color !important;
      }
    }
  }

  .redux_field_th{
    font-size:13px;
  }

  /* Main
   ========================================================================== */

  .redux-main{
    margin-left:305px;
    background:none;
    border:none;
    padding:0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    .form-table tr {
      border-color: $tz-border-color;
    }
    ul.ui-tabs-nav {
      padding: 0;
    }
    .redux-typography-container {
      .select_wrapper {
        margin-bottom: 15px;
      }
      .input_wrapper {
        width: 48%;
        max-width: 48%;
        margin: 0 10px 15px 0;
      }
    }
  }
  &.fully-expanded{
    .redux-main{
      margin-left: 0;
    }
  }
  .redux-group-tab{
    background-color: $tz-background-container;
    padding:30px 25px;
    border-radius: 5px;
    @include box-shadow($shadow_all);
  }
  .redux_spinner{
    input[type="text"]{
      padding:0.5rem;
    }
  }

  /* Form
   ========================================================================== */
  input[type="text"]:not(.hide), input[type="password"]:not(.hide), textarea:not(.hide){
    display: inline-block;
  }
  input[type="text"], input[type="password"], textarea{
    width: 55%;
    height: 35px;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 2px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-bottom: 5px;
    &:focus{
      color: #495057;
      background-color: #fff;
      border-color: #80bdff;
      outline: 0;
      outline: none;
      outline-width: 0;
      outline-color: transparent;
      box-shadow: none;
    }
  }
  textarea{
    height:auto;
    line-height: 1.2;
    width:100%
  }
  select{
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 2px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:focus{
      color: #495057;
      background-color: #fff;
      border-color: #80bdff;
      outline: 0;
      outline: none;
      outline-width: 0;
      outline-color: transparent;
      box-shadow: none;
    }
    &.redux-typography{
      line-height: 28px !important;
    }
  }

  /* Sticky
   ========================================================================== */
  #redux-sticky{
    border:none;
    background:$tzbackground;
    @include box-shadow($shadow_all);
    margin: 0 0 25px;
    #info_bar{
      background-color:$tz-background-container;
      border:none;
      border-radius: 5px;
      padding:25px;
      display: flex;
      height: auto;
      justify-content: flex-end;
      .expand_options{
        margin-left: 0;
      }
    }
  }

  /* Bar
   ========================================================================== */
  #redux-footer-sticky{
    margin: 10px 0 0 0;
    @include box-shadow($shadow_all);
    #redux-footer{
      background: $tz-background-container !important;
      border:none;
      padding:25px;
      border-radius: 5px;
      #redux-share a{
        color:$tzhover;
      }
    }
  }
}
.select2-results__options {
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
}