#templaza-backtotop {
	display: none;
	line-height: 0;
	position: fixed;
	right: $tztheme-backtotop-right;
	bottom: $tztheme-backtotop-bottom;
	padding: $tztheme-backtotop-padding;
	z-index: $tztheme-backtotop-zindex;
	@include transition($tztheme-transition-all);
	&:hover{
		@include transition($tztheme-transition-all);
	}
	&.circle {
		border-radius: 100%;
	}

	&.rounded {
		border-radius: $tztheme-backtotop-rounded-radius;
	}

	&.square {
		border-radius: 0;
	}
}

.header-sidebar-right #templaza-backtotop {
	right: auto;
	left: $tztheme-backtotop-right;
}
.templaza-backtotop{
	#templaza-backtotop{
		position:inherit;
		right:0;
		bottom:0;
		justify-content: center;
		align-items: center;
		&.uk-flex{
			display:flex !important;
		}
	}
}