.templaza-nav .megamenu-container a.nav-link.megamenu-title:hover {
  background-color: inherit !important;
  color: currentColor !important;
}

/* Header Section */
.templaza-header-section {
  width: 100%;
  left: 0;
  z-index: $tztheme-header-section-zindex;
  box-shadow: $tztheme-header-shadow;
}
/* Header Element */
header {
  &.templaza-header {
    padding: $tztheme-header-padding-y $tztheme-header-padding-x;
    z-index: 1;
  }

  /* Stacked Header */
  &.header-stacked {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    background-color: $tztheme-stacked-header-bg;
    z-index: $tztheme-stacked-header-zindex;
  }
  ul{
    li{
      margin:0;
      list-style: none;
    }
  }
}

/* Sticky Header */
.templaza-header-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: $tztheme-sticky-header-zindex;
  -webkit-animation-duration: $tztheme-sticky-header-animation-duration;
  animation-duration: $tztheme-sticky-header-animation-duration;
  border-bottom: $tztheme-sticky-header-border-bottom;
  box-shadow: $tztheme-sticky-header-shadow;
  .container{
    padding-left: 20px;
    padding-right: 20px;
  }
  > div{
    padding-top: $tztheme-sticky-header-padding-y;
    padding-bottom: $tztheme-sticky-header-padding-y;
  }

  &.tz-sticky {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
  }

  .templaza-logo {
    .templaza-logo-default {
      display: none !important;
    }

    .templaza-logo-sticky {
      @include media-breakpoint-up(lg) {
        display: block !important;
      }
    }
  }
  .admin-bar .templaza-container &{
    top: 32px;
  }
  .header-icon{
    padding-left:20px;
  }
}

.templaza-logo {
  @include media-breakpoint-down(md) {
    .templaza-logo-default {
      display: none;
    }
  }

  img {
    max-width: $tztheme-logo-max-width;
    max-height: $tztheme-logo-max-height;
  }

  .templaza-logo-mobile {
    max-width: 100%;
    display: none;

    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  .templaza-logo-sticky {
    display: none;
  }
}

.fixed-header {
  .templaza-logo {
    .templaza-logo-default,
    .templaza-logo-mobile {
      display: none;
    }

    .templaza-logo-sticky {
      display: block;
    }
  }
}

.templaza-stacked-seperated-header {
  .templaza-logo-image {
    img {
      margin: auto;
    }
  }
}
/* Sidebar Header */
.templaza-header {
  ul{
    li{
      margin:0;
    }
  }
  &.has-sidebar {
    position: fixed;
    width: $tztheme-sidebar-header-width;
    top: 0;
    height: 100%;
    z-index: 1;
    transition: .1s linear all;
    //@media(max-width: 1200px) {
    //  width: $tztheme-sidebar-header-mini-width;
    //}
    &.sidebar-dir-left {
      left: 0 !important;
      right: auto !important;
    }
    &.sidebar-dir-right {
      right: 0 !important;
      left: auto !important;
    }
    > .container {
      height: 100%;
      > .row {
        height: 100%;
        .templaza-column {
          > div {
            height: 100%;
          }
        }
      }
    }
    .templaza-sidebar-logo {
      margin: 15px 0 30px;
      @media (max-width: 1024px) {
        margin: 15px 0;
      }
    }
    .templaza-logo {
      margin: 0 auto !important;
      justify-content: center;
    }
    .templaza-sidebar-mobile-menu {
      display: none;
    }
    .templaza-sidebar-block {
      padding: 10px 15px;
    }
  }
  .templaza-sidebar-block {
    margin-top: auto;
  }
  .templaza-sidebar-content {
    display: flex;
    flex-direction: column;
    @media (max-width: 1024px) {
      display: block;
    }
  }
  .dropdown-menus {
    max-width: $tztheme-sidebar-header-width;
  }
  .templaza-sidebar-content {
    overflow-y: auto;
  }
  .templaza-sidebar-collapsable {
    padding: 1rem;
    font-size: 24px;
    justify-content: flex-end;
    cursor: pointer;
    display: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    > i {
      width: 22px;
      text-align: center;
      display: block;
      &:before {
        content: "\f0c9";
      }
    }
  }
  @media(max-width: 1200px) {
    &.expanded {
      width: $tztheme-sidebar-header-width !important;
      -webkit-transition: .1s linear all;
      -moz-transition: .1s linear all;
      -ms-transition: .1s linear all;
      -o-transition: .1s linear all;
      transition: .1s linear all;
      .templaza-sidebar-collapsable {
        > i {
          &:before {
            content: "\f00d";
          }
        }
      }
      .templaza-sidebar-logo {
        display: block;
      }
      .templaza-sidebar-content > div.templaza-sidebar-menu {
        display: block;
      }
      .templaza-sidebar-content > div.templaza-sidebar-block {
        display: block;
      }
    }
  }

  //@media(max-width: 1024px) {
  //
  //}
}

@media (min-width:1201px) {
  body.header-sidebar-left{
    margin-left: $tztheme-sidebar-header-width;
  }
  body.header-sidebar-right{
    margin-right: $tztheme-sidebar-header-width;
  }
}