/* Header Section */
.templaza-header{
  &.has-sidebar{
    z-index: 1050;
    .templaza-logo {
      justify-content: flex-start;
    }
    .templaza-sidebar-block {
      padding: 10px 0;
    }
    ul.sub-menu {
      border-left: 1px dashed #ccc;
      margin-left: 10px;
      > li {
        position: relative;
        > a {
          &:before {
            content: "";
            margin-right: 10px;
            border-top: 1px dashed #ccc;
            width: 7px;
            height: 1px;
            position: absolute;
            top: 50%;
            left: -13px;
          }
        }
      }
    }
  }
  .templaza-sidebar-content {
    padding: 50px 40px;
    @media (max-width: 1024px) {
      padding: 0;
    }
  }
  .templaza-sidebar-collapsed-logo {
    margin: 15px 12px;
    display: none;
  }
  @media(max-width: 1600px) {
    .templaza-sidebar-menu {
      li a {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  @media(min-width: 1200px) and (max-width: 1600px) {
    .templaza-sidebar-collapsed-logo {
      display: flex;
      justify-content: center;
    }
    &.expanded {
      .templaza-sidebar-collapsed-logo {
        display: none;
      }
    }
  }
  .moduletable {
    width: 100%;
  }
}
.templaza-header-section {
  box-shadow: none;
  &.header-absolute {
    position: absolute;
    z-index: 1050;
    width: 100%;
    background-color: transparent !important;
  }
}
/* Sidebar Header */
.templaza-header {
  &.has-sidebar {
    -webkit-transition: .1s linear all;
    -moz-transition: .1s linear all;
    -ms-transition: .1s linear all;
    -o-transition: .1s linear all;
    //@media(max-width: 1600px) {
    //  width: $tztheme-sidebar-header-mini-width;
    //}
  }
  //@media (max-width: 1600px) {
  //  &.has-sidebar {
  //    display: block;
  //    width: 100%;
  //    position: relative;
  //    padding: 15px 0;
  //    .templaza-sidebar-logo {
  //      display: flex;
  //      padding: 0 15px;
  //      align-items: center;
  //    }
  //  }
  //}
  @media (max-width: 1024px) {
    &.has-sidebar {
      display: block;
      width: 100%;
      position: relative;
      padding: 15px 0;
      .templaza-sidebar-logo {
        display: flex;
        align-items: center;
      }
      .templaza-sidebar-menu{
        display: none;
      }
      .templaza-sidebar-mobile-menu{
        display: block;
      }
    }
  }
  @media(max-width: 1024px) {
    .templaza-sidebar-content {
      > div.templaza-sidebar-block {
        display: none;
      }
    }
    &.expanded {
      width: $tztheme-sidebar-header-width !important;
      -webkit-transition: .1s linear all;
      -moz-transition: .1s linear all;
      -ms-transition: .1s linear all;
      -o-transition: .1s linear all;
      transition: .1s linear all;
      .templaza-sidebar-collapsable {
        > i {
          &:before {
            content: "\f00d";
          }
        }
      }
      .templaza-sidebar-logo {
        display: block;
      }
      .templaza-sidebar-content > div.templaza-sidebar-menu {
        display: block;
      }
      .templaza-sidebar-content > div.templaza-sidebar-block {
        display: block;
      }
    }
  }
}
@media (min-width:1201px) {
  body.header-sidebar-left{
    margin-left: 0;
  }
  body.header-sidebar-right{
    margin-right: 0;
  }
}