/* Header Section */
.templaza-header{
  &.has-sidebar{
    z-index: 1050;
    .templaza-logo {
      justify-content: flex-start;
    }
    .templaza-sidebar-block {
      padding: 10px 0;
    }
    ul.sub-menu {
      border-left: 1px dashed #ccc;
      margin-left: 10px;
      > li {
        > a {
          position: relative;
          &:before {
            content: "";
            margin-right: 10px;
            border-top: 1px dashed #ccc;
            width: 7px;
            height: 1px;
            position: absolute;
            top: 50%;
            left: -13px;
          }
        }
      }
    }
  }
  .templaza-sidebar-content {
    padding: 30px 40px 0;
    @media (max-width: 1024px) {
      padding: 0;
    }
  }
  .templaza-sidebar-collapsed-logo {
    margin: 15px 12px;
    display: none;
  }
  @media(max-width: 1600px) {
    .templaza-sidebar-menu {
      li a {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  @media(min-width: 1200px) and (max-width: 1600px) {
    .templaza-sidebar-collapsed-logo {
      display: flex;
      justify-content: center;
    }
    &.expanded {
      .templaza-sidebar-collapsed-logo {
        display: none;
      }
    }
  }
  .moduletable {
    width: 100%;
  }
  .header-block-2-horizontal{
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 70px;
  }
  .enable_canvas_btn{
    .header-icon{
      &:last-child{
        padding-right:15px;
      }
    }
  }
  .tz-header-contact{
    >span{
      padding:0 20px;
      border-right:1px solid #ccc;
      &:last-child{
        border:none;
      }
      i{
        padding-right:5px;
      }
    }
  }
  .templaza-stacked-header{
    .uk-grid-match > * > :not([class*="uk-width"]){
      width:auto;
    }
  }
}
.templaza-header-section {
  box-shadow: none;
  &.header-absolute {
    position: absolute;
    z-index: 1050;
    width: 100%;
  }
}
/* Sidebar Header */
.templaza-header {
  &.has-sidebar {
    -webkit-transition: .1s linear all;
    -moz-transition: .1s linear all;
    -ms-transition: .1s linear all;
    -o-transition: .1s linear all;
    //@media(max-width: 1600px) {
    //  width: $tztheme-sidebar-header-mini-width;
    //}
  }
  //@media (max-width: 1600px) {
  //  &.has-sidebar {
  //    display: block;
  //    width: 100%;
  //    position: relative;
  //    padding: 15px 0;
  //    .templaza-sidebar-logo {
  //      display: flex;
  //      padding: 0 15px;
  //      align-items: center;
  //    }
  //  }
  //}
  @media (max-width: 1024px) {
    &.has-sidebar {
      display: block;
      width: 100%;
      position: relative;
      padding: 15px 0;
      .templaza-sidebar-logo {
        display: flex;
        align-items: center;
      }
      .templaza-sidebar-menu{
        display: none;
      }
      .templaza-sidebar-mobile-menu{
        display: block;
      }
    }
  }
  @media(max-width: 1024px) {
    .templaza-sidebar-content {
      > div.templaza-sidebar-block {
        display: none;
      }
    }
    &.expanded {
      width: $tztheme-sidebar-header-width !important;
      -webkit-transition: .1s linear all;
      -moz-transition: .1s linear all;
      -ms-transition: .1s linear all;
      -o-transition: .1s linear all;
      transition: .1s linear all;
      .templaza-sidebar-collapsable {
        > i {
          &:before {
            content: "\f00d";
          }
        }
      }
      .templaza-sidebar-logo {
        display: block;
      }
      .templaza-sidebar-content > div.templaza-sidebar-menu {
        display: block;
      }
      .templaza-sidebar-content > div.templaza-sidebar-block {
        display: block;
      }
    }
  }
  &.templaza-horizontal-justify-header {
    .header-icon-wrap{
      height:100%;
    }
    .header-icon {
      align-items:center;
    }
  }
  &.templaza-stacked-seperated-header{
    .menu-justify{
      .menu-item{
        text-align:left;
        padding:0;
        &.menu-center{
          >a{
            &.item-level-1{
              text-align:center;
            }
          }
        }
        &.menu-left{
          >a{
            &.item-level-1{
              text-align:left;
            }
          }
        }
        &.menu-right{
          >a{
            &.item-level-1{
              text-align:right;
            }
          }
        }
      }
      .menu-item-logo{
        width:100%;
      }
    }
  }
}
.templaza-logo-text{
  .site-title{
    font-size:26px;
    text-transform:uppercase;
    color:$tztheme-heading-color;
    font-family: $tztheme-heading-font;
  }
  .site-tagline{
    font-size:0.875em;
  }
}
@media (min-width:1201px) {
  body.header-sidebar-left{
    margin-left: 0;
  }
  body.header-sidebar-right{
    margin-right: 0;
  }
}
@media (max-width:1199.99px) {

}
@media (max-width:959.99px) {
  body .templaza-divi-logo-wrap, body .menu-item-logo{
    border:none !important;
  }
  body{
    header{
      .header-show-icon{
        .templaza-logo{

        }
      }
    }
  }
  header{
    .header-icon-wrap{
      position:absolute;
      right:auto;
    }
  }
  .templaza-logo{
    margin-left:0;
  }

}