/*
* Body Wrapper
*/

.elementor-section.elementor-section-boxed > .elementor-container,
.elementor-element.e-con-boxed > .e-con-inner {
	position:relative;
	@media (min-width: 640px) {
		padding-left: 30px;
		padding-right: 30px;
	}
	@media (min-width: 960px) {
		padding-left: 40px;
		padding-right: 40px;
	}
	@media (max-width: 640px) {
		padding-left: 20px;
		padding-right: 20px;
	}
}
.templaza-content {
	left: 0;
	-webkit-transition: transform 0.5s;
	-moz-transition: transform 0.5s;
	-ms-transition: transform 0.5s;
	-o-transition: transform 0.5s;
	transition: transform 0.5s;
	&.has-sidebar {
		word-wrap: break-word;
		&.sidebar-dir-left {
			padding-left: $tztheme-header-sidebar-width;

			//@media(max-width: 1600px) {
			//	padding-left: $tztheme-header-sidebar-mini-width;
			//}
			//
			//@media(max-width: 1200px) {
			//	padding-left: 0;
			//}
			@media(max-width: 1024px) {
				padding-left: 0;
			}
		}

		&.sidebar-dir-right {
			padding-right: $tztheme-header-sidebar-width;

			//@media(max-width: 1600px) {
			//	padding-right: $tztheme-header-sidebar-mini-width;
			//}
			//
			//@media(max-width: 1200px) {
			//	padding-right: 0;
			//}
			@media(max-width: 1024px) {
				padding-right: 0;
			}
		}
	}
}

.templaza-layout{
	position: relative;
	.templaza-wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
	}
	&.templaza-layout-boxed {
		.templaza-wrapper {
			margin: 0 auto;
			box-shadow: 0 0 5px rgba(0, 0, 0, .2);
			background-color: $tztheme-white;
			max-width: map-get($container-max-widths, "xl") + 100;
		}
	}
}

.tz_background_overlay{
	position:relative;
	&:before{
		content:"";
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		z-index: 1;
	}
	> div{
		z-index: 10;
		position:relative;
	}
}
.templaza-column.uk-container {
	box-sizing: border-box;
}
.templaza-error-page{
	position: relative;
	&:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	.page-404{
		z-index: 2;
	}
}