.jddrop-content{
   display: none;
   z-index: 99;
}
// Menu Badge

.menu-item-badge{
   padding: 2px 7px;
   font-weight: normal;
   text-transform: none;
   line-height: 20px;
   font-size: 14px;
   border-radius: 2px;
}

// megamenu dropdown
.megamenu-container{

   padding: 15px 10px;
   display: none;
   position: absolute;
   z-index: 999;
   box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .1);
   &.nav-submenu-container{
      padding: 0;
   }
   .nav-submenu {
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .1);
   }
}

.nav-item-megamenu .nav-submenu{
   .item-link-heading.item-level-2,
   .item-link-separator.item-level-2{
      border-bottom: 1px solid;
      &:hover{
         color: inherit !important;
         background-color: inherit !important;
      }
   }
}

.nav-submenu-static{
   margin: 0;
   padding: 0;
   list-style-type: none;
   display: flex;
   flex-direction: column;
   z-index: 9;
   > li{
      padding: 0;
      position: relative;
      > a{
         text-decoration: none;
         display: block;
         padding: 10px 15px;
      }
      > .nav-submenu{
         position: absolute;
         top: 0;
         left: 100%;
         width: 100%;
         max-width: 300px;
         display: none;
         &.right{
            left: -100%;
         }
      }
   }
}

.templaza-nav{
   .nav-title{
      display: block;
      position: relative;
   }
   .nav-subtitle{
      display: block;
      padding: 0;
      opacity: .6;
      font-size: 70%;
   }
   .nav-item-parent{
      .nav-title{
         padding-right: 25px;
         > .nav-item-caret{
            right: 0;
            position: absolute;
            top: 50%;
            font-size: 75%;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            margin-top: -10px;
         }
      }
      &.no-dropdown-icon .nav-title{
         padding-right: 0;
      }
   }
   // Submenu dropdowns
   .nav-submenu{
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      z-index: 9;
      &.megamenu-submenu-level-1{
         box-shadow: none;
      }
      .nav-item-parent.nav-title {
         padding-right: 25px;
      }
      .nav-title {
         padding-right: 0;
      }
      > li{
         padding: 0;
         position: relative;
         > a{
            text-decoration: none;
            display: block;
         }
         > .nav-submenu{
            position: absolute;
            top: 0;
            left: 100%;
            width: 100%;
            /* max-width: 300px;*/
            display: none;
            &.right{
               left: -100%;
            }
         }
      }
   }
   .menu-item.uk-parent {
      > .megamenu-item-link > .nav-item-caret {
         &:after{
            display: flex;
            align-items: center;
            justify-content: center;
            content: "+";
            font-style: normal;
            width: 1rem;
            height: 1rem;
            font-size: 1.5em;
            float: right;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            @if(mixin-exists(hook-nav-parent-icon)) {@include hook-nav-parent-icon();}
         }
      }
      &.uk-open{
         > .megamenu-item-link > .nav-item-caret::after { content: "-"; }
      }
   }
}

ul{
   &.megamenu-submenu{
      list-style-type: none;
      padding: 0;
      > li{
         > .megamenu-submenu{
            padding-left: 15px;
         }
      }
   }
}

.has-megamenu {
   position: relative;
   display: flex;
   &[data-position=left] {
      justify-content: flex-start;
   }
   &[data-position=right] {
      justify-content: flex-end;
   }
   &[data-position=center], &[data-position=full], &[data-position=edge] {
      justify-content: center;
   }
   &:before {
      content: '';
      width: 100%;
      height: 250%;
      max-height: 100px;
      position: absolute;
      top: 100%;
      display: none;
      cursor: pointer;
   }
   &.mega-open {
      &:before {
         display: block;
      }
      .arrow {
         position: absolute;
         width: 0;
         height: 0;
         border-left: 8px solid transparent;
         border-right: 8px solid transparent;
         border-bottom: 8px solid #eee;
         z-index: 0;
         left: 50%;
         margin-left: -8px;
         bottom: 0;
         display: none;
      }
   }
}

.templaza-sidebar-menu{
   list-style-type: none;
   margin: 0;
   padding: 0;
   li{
      width: 100%;
      display: block;
      border-bottom: 1px solid #eee;
      a{
         padding: 10px;
         //width: calc(100% - 50px);
         //display: inline-block;
         .templaza-header &{
            padding: 0.5em 0;
         }
      }
      > ul {
         li{
            &:last-child{
               border-bottom: none;
            }
         }
      }
      &.nav-item-active{
         > ul{
            display: block;
         }
      }
      > .nav-item-caret{
         width: 50px;
         display: inline-block;
         font-size: 13px;
         text-align: right;
         padding: 10px;
         cursor: pointer;
         float: right;
         line-height: inherit;
         &:before{
            content: "\f067";
         }
         &.open{
            &:before{
               content: "\f068";
            }
         }
      }
      &:last-child{
         border-bottom: 0;
      }
   }
}
.templaza-header{
   ul{
      margin: 0;
      li{
         a{
            padding:0 1em;
         }
      }
   }
   .navbar-nav{
      flex-direction: row;
     margin:0;
      &.fade-down, &.fade-up, &.fade-left, &.fade-right, &.rotate-x, &.rotate-y{
         .menu-item{
            &:hover{
               >.sub-menu {
                  transform: rotateX(0deg);
                  -o-transform: rotateX(0deg);
                  -moz-transform: rotateX(0deg);
                  -webkit-transform: rotateX(0deg);
               }
            }
            >.sub-menu {
               -o-transform-origin: 0% 0%;
               -ms-transform-origin: 0% 0%;
               -moz-transform-origin: 0% 0%;
               -webkit-transform-origin: 0% 0%;
               -o-transition: -o-transform 0.3s, all 0.3s;
               -ms-transition: -ms-transform 0.3s, all 0.3s;
               -moz-transition: -moz-transform 0.3s, all 0.3s;
               -webkit-transition: -webkit-transform 0.3s, all 0.3s;
               transform-style: preserve-3d;
               -o-transform-style: preserve-3d;
               -moz-transform-style: preserve-3d;
               -webkit-transform-style: preserve-3d;
               transform: rotateX(-75deg);
               -o-transform: rotateX(-75deg);
               -moz-transform: rotateX(-75deg);
               -webkit-transform: rotateX(-75deg);
            }
         }
      }
      &.fade-up{
         .menu-item{
            > .sub-menu{
               -webkit-transform-origin: center center;
               -moz-transform-origin: center center;
               -ms-transform-origin: center center;
               -o-transform-origin: center center;
               transform-origin: center center;
               -webkit-transform: translateY(20px);
               -moz-transform: translateY(20px);
               -ms-transform: translateY(20px);
               -o-transform: translateY(20px);
               transform: translateY(20px);
               //-o-transition: -o-transform 0.3s, all 0.3s;
               //-ms-transition: -ms-transform 0.3s, all 0.3s;
               //-moz-transition: -moz-transform 0.3s, all 0.3s;
               //-webkit-transition: -webkit-transform 0.3s, all 0.3s;
            }
         }
      }
      &.fade-left{
         .menu-item{
            > .sub-menu{
               -webkit-transform-origin: center center;
               -moz-transform-origin: center center;
               -ms-transform-origin: center center;
               -o-transform-origin: center center;
               transform-origin: center center;
               transform-style: initial;
               -o-transform-style: initial;
               -moz-transform-style: initial;
               -webkit-transform-style: initial;
               -webkit-transform: translateX(40px) skewX(7deg);
               -moz-transform: translateX(40px) skewX(7deg);
               -ms-transform: translateX(40px) skewX(7deg);
               -o-transform: translateX(40px) skewX(7deg);
               transform: translateX(40px) skewX(7deg);
            }
         }
      }
      &.fade-right{
         .menu-item{
            > .sub-menu{
               -webkit-transform-origin: center center;
               -moz-transform-origin: center center;
               -ms-transform-origin: center center;
               -o-transform-origin: center center;
               transform-origin: center center;
               transform-style: initial;
               -o-transform-style: initial;
               -moz-transform-style: initial;
               -webkit-transform-style: initial;
               -webkit-transform: translateX(-40px) skewX(-7deg);
               -moz-transform: translateX(-40px) skewX(-7deg);
               -ms-transform: translateX(-40px) skewX(-7deg);
               -o-transform: translateX(-40px) skewX(-7deg);
               transform: translateX(-40px) skewX(-7deg);
            }
         }
      }
      &.rotate-x{
         .menu-item{
            > .sub-menu{
               -webkit-transform: rotateY(-90deg);
               -moz-transform: rotateY(-90deg);
               -ms-transform: rotateY(-90deg);
               -o-transform: rotateY(-90deg);
               transform: rotateY(-90deg);
               transform-style: initial;
               -o-transform-style: initial;
               -moz-transform-style: initial;
               -webkit-transform-style: initial;

               -webkit-transform-origin: initial;
               -moz-transform-origin: initial;
               -ms-transform-origin: initial;
               -o-transform-origin: initial;
               transform-origin: initial;

               -webkit-transition: all 0.3s ease-in, opacity 0.2s linear;
               -moz-transition: all 0.3s ease-in, opacity 0.2s linear;
               transition: all 0.3s ease-in, opacity 0.2s linear;
            }
         }
      }
      &.rotate-y{
         .menu-item{
            > .sub-menu{
               //-webkit-transform: perspective(400) rotate3d(1, 0, 0, -90deg);
               -webkit-transform: perspective(400) rotate3d(1, 0, 0, -90deg);
               -moz-transform: perspective(400) rotate3d(1, 0, 0, -90deg);
               -ms-transform: perspective(400) rotate3d(1, 0, 0, -90deg);
               -o-transform: perspective(400) rotate3d(1, 0, 0, -90deg);
               transform: perspective(400) rotate3d(1, 0, 0, -90deg);
               //-webkit-transform-origin: 50% 0;
               -webkit-transform-origin: 50% 0;
               -moz-transform-origin: 50% 0;
               -ms-transform-origin: 50% 0;
               -o-transform-origin: 50% 0;
               transform-origin: 50% 0;
               -moz-transition: 300ms;
               -o-transition: 300ms;
               transition: 300ms;
            }
            &:hover{
               > .sub-menu{
                  -webkit-transform: perspective(400) rotate3d(0, 0, 0, 0);
                  -moz-transform: perspective(400) rotate3d(1, 0, 0, 0);
                  -ms-transform: perspective(400) rotate3d(1, 0, 0, 0);
                  -o-transform: perspective(400) rotate3d(1, 0, 0, 0);
                  transform: perspective(400) rotate3d(1, 0, 0, 0);
               }
            }
         }
      }
      >.menu-item{
         >.sub-menu{
            top: 100%;
            .sub-menu{
               top: 0;
               left: 100%;
            }
         }
      }
      .menu-item{
         display:flex;
         position: relative;
         &.current-menu-item{
            >a{
               color:$tztheme-global-color;
            }
         }
         > a{
            display:block;
            padding:2rem;
         }

         &:hover{
            >.sub-menu{
               opacity: 1;
               visibility: visible;
            }
         }
         > .sub-menu{
            position: absolute;
            top: 100%;
            z-index: 1000;
            margin: 0;
            box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.1);
            padding: 10px 0;
            min-width: 190px;
            background-color: #fff;
            border: none;
            opacity: 0;
            visibility: hidden;
            ul{
               li{
                  padding:12px 0;
                  border-top:1px solid $tztheme-menu-border-color;
                  a{
                     i{
                        font-size:0.9em;
                        padding-right:8px;
                     }
                  }
                  &.current-menu-item{
                     >a{
                        color:$tztheme-global-color;
                     }
                  }
               }
            }
            .templaza-row{
               &:first-child{
                  ul{
                     li{
                        border:none;
                     }
                  }
               }
               .widget{
                  padding:15px 0;
                  .widgettitle{
                     font-size:0.9rem;
                     margin-bottom: 15px;
                  }
                  ul{
                     li{
                        border-top:1px solid $tztheme-menu-border-color;

                     }
                     &.product_list_widget{
                        li {
                           img{
                              width:70px;
                              float:left;
                              margin-left: 0;
                              margin-right: 15px;
                           }
                           span.product-title, .star-rating{
                              padding-left:0;
                              display:block;
                           }
                           .star-rating{
                              margin:5px;
                           }
                           del{
                              opacity:0.8;
                           }
                           del,ins{
                              color:$tztheme-global-color
                           }
                        }
                     }
                  }
               }
            }
            .sub-menu{
               min-width: 220px;
               position: absolute;
               left: 100%;
               top: 0;
               margin: 0;
               padding: 0;
               list-style: none;
               background-color: #fff;
               box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.1);
               li{
                  padding:0;
                  border-top:none;
                  a{
                     i{
                        font-size:0.9em;
                        padding-right:8px;
                     }
                  }
                  &.current-menu-item{
                     >a{
                        color:$tztheme-global-color;
                     }
                  }
               }
            }
            li{
               list-style: none;
               position: relative;
               margin: 0;
               padding: 0;
               display: block;
               >a{
                  background-image: none;
                  border-right: 0 none;
                  text-align: left;
                  display: block;
                  padding: 0;
                  text-transform: none;
                  letter-spacing: normal;
                  border-right: 0px solid;
               }
            }


            .menu-item{
               display: block;
               > a{
                  padding: 8px 0;
               }
               .megamenu-arrow{
                  margin-right: 12px;
               }
               .megamenu-indicator{
                  border-top: 4px solid rgba(0,0,0,0);
                  border-bottom: 4px solid rgba(0,0,0,0);
                  border-left: 4px solid;
               }
               .sub-menu{
                  top: 0;
               }
               &.has-megamenu{
                  &[data-position=left]{
                     >.sub-menu{
                        left: 100%;
                     }
                     .megamenu-arrow{
                        position: absolute;
                        right: 0;
                     }
                  }
                  &[data-position=right]{
                     >.sub-menu{
                        right: 100%;
                        .megamenu-arrow{
                           position: absolute;
                           right: 0;
                        }
                     }
                  }
               }
            }
         }
         //&:hover{
         //   > .sub-menu{
         //      opacity: 1;
         //      visibility: visible;
         //      transform: rotateX(0deg);
         //      -o-transform: rotateX(0deg);
         //      -moz-transform: rotateX(0deg);
         //      -webkit-transform: rotateX(0deg);
         //   }
         //}

         .megamenu-arrow{
            margin-left: 9px;
            position: relative;
         }
         .megamenu-indicator{
            margin-left: 9px;
            position: relative;
            border-left: 4px solid rgba(0, 0, 0, 0);
            border-right: 4px solid rgba(0, 0, 0, 0);
            border-top: 4px solid;
            top:50%;
         }

         .megamenu-description-group{
            display: inline-block;
            .megamenu-title{
               display: block;
               position: relative;
            }
            .megamenu-description{
               font-style: italic;
               font-size: 0.8em;
               text-transform: none;
               font-weight: normal;
            }
         }

      }
   }
   &.templaza-header-sticky.megamenu-trigger-click,
   &.megamenu-trigger-click{
      .navbar-nav{
         .menu-item{
            &.mega-open,
            &.mega-open:hover{
               >.megamenu-sub-menu{
                  opacity: 1;
                  visibility: visible;
                  transform: rotateX(0deg);
                  -o-transform: rotateX(0deg);
                  -moz-transform: rotateX(0deg);
                  -webkit-transform: rotateX(0deg);
               }
            }
            &:hover{
               >.megamenu-sub-menu{
                  opacity: 0;
                  visibility: hidden;
                  transform: none;
                  -o-transform: none;
                  -moz-transform: none;
                  -webkit-transform: none;
               }
            }
         }
      }
   }
}