*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  word-break: break-word;
  word-wrap: break-word;
}
body{
  overflow-x: hidden;
  .po_static{
    position:static;
  }
  .alignright {
    float: right;
    margin: 0.5em 0 0.5em 1em;
  }
  .alignleft{
    float:left;
    margin:0.5em 1em 0.5em 0;
  }
  .aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .templaza-relative{
    position:relative;
  }
  .templaza-absolute{
    position:absolute;
  }
  a{
    color:$tztheme-heading-color;
    @include transition($tztheme-transition-all);
    &:hover{
      text-decoration: none;
      color:$tztheme-global-color;
      @include transition($tztheme-transition-all);
    }
  }
  .templaza-content-element,
  .wpb_content_element{
    margin:$tztheme-element-margin;
  }
  .align-left{
    text-align: left;
  }
  .align-center{
    text-align: center;
  }
  .align-right{
    text-align: right;
  }
  .clr{
    clear:both;
    height:0;
  }
  img{
    max-width: 100%;
    height:auto;
  }
  .templaza-background-color{
    background:$tztheme-background-color;
  }
  em{
    color:$tztheme-global-color;
  }
  [hidden], .uk-hidden{
    display:none !important;
  }
  .templaza-header-sticky .templaza-logo .templaza-logo-sticky{
    &[hidden]{
      display:none !important;
    }
  }
  ul,ol{
    li{
      margin:0.5rem 0;
    }
  }
}