// Import default variables and available mixins.
@import "vendor/uikit/variables-theme.scss";
@import "vendor/uikit/mixins-theme.scss";
// Import UIkit.
@import "vendor/uikit/uikit-theme.scss";

// Added by our framework
.uk-grid-divider-horizontal {
  &:not(.uk-grid-stack) {
    > .uk-grid-margin {
      margin-top: ($grid-gutter-vertical * 2);
      > *:first-child {
        position: relative;
        &:before {
          content: "";
          position: absolute;
          top: (-$grid-gutter-vertical);
          left: 0;
          right: 0;
          border-top: $grid-divider-border-width solid $grid-divider-border;
        }
      }
      @media (min-width: $breakpoint-large) {
        margin-top: ($grid-gutter-vertical-l * 2);
        > *:first-child {
          &:before {
            top: (-$grid-gutter-vertical-l);
          }
        }
      }
    }
    &.uk-grid-small, &.uk-grid-row-small {
      > .uk-grid-margin {
        margin-top: ($grid-small-gutter-vertical * 2);
        > *:first-child {
          &:before {
            top: (-$grid-small-gutter-vertical);
          }
        }
      }
    }
    &.uk-grid-medium, &.uk-grid-row-medium {
      > .uk-grid-margin {
        margin-top: ($grid-medium-gutter-vertical * 2);
        > *:first-child {
          &:before {
            top: (-$grid-medium-gutter-vertical);
          }
        }
      }
    }
    &.uk-grid-large, &.uk-grid-row-large {
      > .uk-grid-margin {
        margin-top: ($grid-large-gutter-vertical * 2);
        > *:first-child {
          &:before {
            top: (-$grid-large-gutter-vertical);
          }
        }
      }
    }
  }
}