
$tztheme-grid-gutter-width-xl:                30px !default;

// Sidebar Header
$tztheme-sidebar-header-shadow:               0 0 2px 0 rgba(56, 69, 84, .2) !default;
$tztheme-sidebar-header-width:                320px !default;
$tztheme-sidebar-header-mini-width:           54px !default;

// Logo
$tztheme-logo-max-width:                      250px !default;
$tztheme-logo-max-height:                     90px !default;

// Header Section
$tztheme-header-padding-y:                    15px !default;
$tztheme-header-padding-x:                    0 !default;
$tztheme-header-section-zindex:               1000 !default;
$tztheme-header-shadow:                       0 .125rem .25rem rgba(0, 0, 0, .075) !default;

// Sticky Header
$tztheme-sticky-header-zindex:                1020 !default;
$tztheme-sticky-header-animation-duration:    .7s !default;
$tztheme-sticky-header-padding-x:             0 !default;
$tztheme-sticky-header-padding-y:             10px !default;
$tztheme-sticky-header-border-bottom:         1px solid rgba(255,255,255,0.1) !default;
$tztheme-sticky-header-shadow:                0 .125rem .25rem rgba(0, 0, 0, .075) !default;

// Stacked Header
$tztheme-stacked-header-bg:                   #fff !default;
$tztheme-stacked-header-zindex:               1000 !default;

// Deprecated Variable
$tztheme-header-sidebar-width:                320px !default;
$tztheme-header-sidebar-mini-width:           54px !default;

// Back to top
$tztheme-backtotop-right:                     20px !default;
$tztheme-backtotop-bottom:                    20px !default;
$tztheme-backtotop-padding:                   10px !default;
$tztheme-backtotop-zindex:                    1020 !default;
$tztheme-backtotop-rounded-radius:            4px !default;

//form
$tztheme-input-height:                        40px !default;
$tztheme-input-border:                        1px solid #dfdfdf !default;
$tztheme-input-border-radius:                 0 !default;
$tztheme-input-background:                    #fff !default;
$tztheme-input-lineheight:                    40px !default;
$tztheme-input-padding:                       0 15px !default;
$tztheme-input-height-large:                  45px !default;
$tztheme-input-lineheight-large:              45px !default;

$tztheme-widget-margin-bottom:                40px !default;
$tztheme-cat-border:                          1px dashed #dfdfdf !default;

$tztheme-blog-margin-bottom:                  40px !default;

$tztheme-quote-padding:                       20px 30px 35px 68px !default;
$tztheme-quote-bg:                            #eee !default;
$tztheme-quote-radius:                        5px !default;
$tztheme-quote-color:                         #8d78b5 !default;
$tztheme-quote-icon-color:                    #7258a2 !default;

$tztheme-format-link-background:              #efefef !default;
// Button
$tztheme-button_background:                   #7258a2 !default;
$tztheme-button_background_hover:             #866eb1 !default;
$tztheme-button_text_color:                   #ffffff !default;
$tztheme-button_text_color_hover:             #fff !default;
$tztheme-button_padding:                      12px 25px !default;
$tztheme-button_radius:                       5px !default;
$tztheme-button_transform:                    uppercase !default;

$tztheme-height-button-slider:                50px !default;
$tztheme-width-button-slider:                 50px !default;

$tztheme-table-heading-bg:                    #edeff0 !default;

$tztheme-postmeta:                            #999999 !default;
$tztheme-background-color:                    #7258a2 !default;
$tztheme-global-color:                        #7258a2 !default;
$tztheme-heading-color:                       #222222 !default;
$tztheme-content-color:                       #686868 !default;
$tztheme-box-shadow-default:                  0 2px 3px 0 rgba(0, 0, 0, 0.1) !default;
$tztheme-box-shadow-sidebar:                  0 0 3px 0 rgba(0, 0, 0, 0.1) !default;

$tztheme-border-color:                        #dedede !default;
$tztheme-menu-border-color:                   #ededed !default;
// Elements
$tztheme-element-title-size:                  inherit !default;
$tztheme-element-title-weight:                700 !default;
$tztheme-element-title-line-height:           1.4em !default;
$tztheme-sub-title-font-size:                 16px !default;
$tztheme-element-margin:                      0 !default;

$tztheme-transition-all:                      all 0.3s linear !default;
$tztheme-transition-ease:                     all 0.3s ease !default;
$tztheme-transition-ease-in-out:              all 0.3s ease-in-out !default;
$tztheme-transition-image-hover:              all 0.5s ease-in-out !default;

$tztheme-heading-font:                        'Barlow Semi Condensed', Arial, Helvetica, sans-serif !default;
$tztheme-button-font:                         'Barlow Semi Condensed', Arial, Helvetica, sans-serif !default;


$tztheme-body-color:                          #212529 !default;
$tztheme-white:                               #fff !default;
$tztheme-black:                               #000 !default;

$tztheme-enable-rounded:                      true !default;
$tztheme-enable-shadows:                      false !default;
// scss-docs-start grid-breakpoints
$tztheme-grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
) !default;
// scss-docs-end grid-breakpoints

// Woocommerce

$tztheme-rating: #CDCDCD !default;
$tztheme-rating-visible: #f1d069 !default;
$tztheme-loop-icon-font-size:0.8rem !default;
$tztheme-color-gray: #cdcdcd !default;
$tztheme-bg-color-gray: #f5f5f5 !default;
$tztheme_modal_spacing: 30px !default;
$tztheme-catalog-title-weight: 600 !default;
$tztheme-catalog-price-weight: 700 !default;

$tztheme-shop-detail-title-size: 36px !default;
$tztheme-shop-detail-title-weight: 600 !default;
$tztheme-shop-detail-price-size: 30px !default;
$tztheme-shop-detail-variation-price-size: 26px !default;
$tztheme-shop-detail-price-weight: 700 !default;
$tztheme-shop-detail-variation-size: 18px !default;
$tztheme-shop-detail-variation-weight: 700 !default;
$tztheme-shop-detail-meta-weight: 700 !default;
$tztheme-shop-detail-tab-size: 18px !default;
$tztheme-shop-detail-tab-transform: uppercase !default;
$tztheme-shop-detail-related-size: 30px !default;
$tztheme-shop-detail-related-transform: uppercase !default;