@import "variables_override";

// Import bootstrap
@import "bootstrap_custom";
@import "variables";
@import "utilities";
@import "wp/mixin";
@import "wp/button";
@import "wp/block_caption";
@import "wp/block_cover";
@import "wp/block_quote";
.wp-block{
  padding:15px;
  ul{
    padding-left:0;
    li{
      list-style:none;
      line-height: 1.8em;
      a{
        font-size:14px !important;
        color:#333;
        font-weight: normal !important;
      }
    }
  }
  .editor-styles-wrapper{
    .wp-block-heading{
      padding-left:0;
      &:after {
        content: '';
        display: block;
        width: 70px;
        height: 1px;
        background: #222222;
        position: absolute;
        bottom: -1px;
        left: 0;
        top:auto;
        @include transition($tztheme-transition-ease-in-out);
      }
      i{
        padding-right:10px;
      }
    }
    &:hover{
      .wp-block-heading{
        &:after{
          width:100%;
          @include transition($tztheme-transition-ease-in-out);
        }
      }
    }
  }
}
.editor-styles-wrapper .wp-block-button:not(.is-style-outline) .wp-block-button__link{
  @include button-default;
}