@import "spinkit/variables";
@import "spinkit/animation";

// Preloader
$tztheme-preloader-bg-color:                  var(--tztheme-preloader-bgcolor) !default;
$tztheme-preloader-image:                     var(--tztheme-preloader-image, '') !default;
$tztheme-preloader-bg-size:                   var(--tztheme-preloader-bg-size, auto) !default;
$tztheme-preloader-bg-repeat:                 var(--tztheme-preloader-bg-repeat, repeat) !default;
$tztheme-preloader-bg-position:               var(--tztheme-preloader-bg-position, '0% 0%') !default;
$tztheme-preloader-bg-attachment:             var(--tztheme-preloader-bg-attachment, scroll) !default;
$tztheme-preloader-color:                     var(--tztheme-preloader-color) !default;
$tztheme-preloader-process-bg-color:                     var(--tztheme-preloader-process-bgcolor) !default;

#templaza-preloader{
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index:99999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $tztheme-preloader-bg-color;
  .preloader-image{
    width: 100%;
    height: 100%;
    background-image: $tztheme-preloader-image;
    background-repeat: $tztheme-preloader-bg-repeat;
    background-size: $tztheme-preloader-bg-size;
    background-position: $tztheme-preloader-bg-position;
    background-attachment: $tztheme-preloader-bg-attachment;
  }
}
.preloader{
  background: $tztheme-preloader-bg-color;
}
.preloader .percentage {
color:$tztheme-preloader-color;
}
.preloader .progress {
  background: $tztheme-preloader-process-bg-color;
}
.templaza-loading-body{
  .templaza-loading-inner{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #232537;
    display: flex  ;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: transform .5s linear, -webkit-transform .5s linear;
    .preloader-inner{
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -khtml-transform: translate(-50%,-50%);
      -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
      transform: translate(-50%, -50%);
      .loading-img-rotate{

      }
    }
    &.hide{
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transform-origin:left center ;
      transform-origin: left center ;
      transition-delay: .2s;
    }
  }
}
.preloader-border{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -24px;
  &:before{
    content: "";
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 50%;
    border: 2px dotted #E1932D;
    animation: spinner 4.5s infinite linear;
    position: absolute;
    margin-top: -2px;
    margin-left: -2px;
  }
}