/* Error: Undefined mixin.
 *     ,
 * 104 |       @include button-slider-default;
 *     |       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   wp\_blog.scss 104:7    @import
 *   theme-style.scss 35:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 104 \2502        @include button-slider-default;\d\a     \2502        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   wp\\_blog.scss 104:7    @import\a   theme-style.scss 35:9  root stylesheet";
}
