body{
  background:none;
}
.site-content{
  .widget{
    font-size:14px;
    ul{
      margin:0;
      li{
        list-style: none;
        padding:0.5em 0;
        line-height: 1.8em;
      }
    }
    .widgettitle{
      color:#333;
      font-size:1.5em;
      padding-bottom:20px;
      border-bottom:1px solid #ebebeb;
      margin:0 0 15px 0;
    }
    a{
      text-decoration: none;
      color:#333;
      font-size:14px;
    }
  }
}