/* all dealers*/
.ap-all-dealers{
  .dealer-item{
    .ap-dealer-title{
      font-size:$tztheme-ap-archive-title-size;
    }
  }
}
.templaza-add-product{
  background:none;
  padding:0;
  p.label{
    margin-bottom: 15px;
    font-weight:600;
  }
  .field{
    margin-bottom:25px;
    input{
      margin:0;
    }
    .acf_wysiwyg .wp-editor-container{

    }
    a{
      &:focus{
        outline: none;
        box-shadow: none;
      }
    }
  }
  .uk-accordion-content{
    padding: 0 10px;
  }
  .uk-accordion-title{
    padding:10px;
    background:#eee;
    font-size:1.15em;
    &:focus{
      outline: none;
      box-shadow: none;
    }
    &:hover,&:active{
      color:$tztheme-heading-color;
    }
  }
  select:not([multiple]):not([size]){
    background-position: 99% 50%;
  }
  .acf-gallery .thumbnails{
    min-height:200px;
  }
  textarea{
  height:200px;
  }
  input[type="radio"]:checked::before{
    background:#fff;
  }
  input,textarea,select{
    &:focus{
      outline: none;
      box-shadow: none;
      border-color:$tztheme-border-color;
    }
  }
  .wp-media-buttons{
    display:flex;
  }
  .wp-editor-tools{
    button{
      text-transform: capitalize;
      background:#ababab;
      padding:0 20px;
      height:40px;
      margin-right:5px;
      &:hover{
        background:#ccc;
      }
    }
  }
}
#dealership_edit-account{
  .field{
    p{
      &.label{
        margin:0;
      }
    }
    input{
      width:100%;
    }
  }
}
.dls-product-items{
  .product-stt{
    font-size:0.875em;
  }
  .dls-product-item{
    &:hover{
      .product-stt-box {
        display:none;
      }
    }
  }
}
.dealer-page{
  .dealer-nav{
    border-top: 1px solid $tztheme-border-color;
    margin-top: 25px;
    padding-top: 10px;
    li{
      a{
        &:focus{
          box-shadow:none;
          outline:none;
        }
      }
      &.uk-active{
        a{
          color:$tztheme-global-color;
        }
      }
    }
  }
  form{
    input{
      &:focus{
        border-color:#dedede;
        box-shadow: none;
      }
    }
  }
  .dealer-pd-action{
    margin-top:12px;
    a.uk-icon-button{
      margin-right:8px;
    }
  }
  .add-product{
    a{

    }
  }
}