.uk-button-warning{
  background-color: $tz-warning-color;
  color: #fff;
  border: 1px solid transparent;
  &:hover{
    background-color: darken($tz-warning-color, 5%);
    color: #fff;
  }
}
.uk-button-success{
  background-color: $tz-success-color;
  color: #fff;
  border: 1px solid transparent;
  &:hover{
    background-color: darken($tz-success-color, 5%);
    color: #fff;
  }
}
.redux-container,
.tzfrm-ui-dialog,
&.tzfrm-postype{
  .button, .button-secondary{
    margin:0;
    line-height: 1;
    text-shadow: none;
    padding:.5rem 1rem;
    background: $tz-button-background-color;
    color: $tz-button-color;
    border-color: $tz-button-border-color;
    //-webkit-box-shadow: none;
    //-moz-box-shadow: none;
    //box-shadow: none;
    @include box-shadow(none);
    @include transition($butt);
    &:hover{
      color: $tz-button-color;
      border-color: darken($tz-button-border-color,10%);
    }
    &:focus{
      outline: none;
    }
    + .button{
      margin-left: 0.5rem;
    }
  }
  .button-primary{
    color: $tz-primary-color;
    background: $tz-primary-background-color;
    border-color: $tz-primary-background-color;
    @include transition($butt);
    &:hover{
      color: $tz-primary-color;
      background: lighten($tz-primary-background-color, 8%);
      border-color: lighten($tz-primary-background-color, 8%);
    }
  }
  .wrap .page-title-action{
    background: $tzbackground;
    color: $tz-global-color;
    border-color: $tz-global-color;
    @include transition($butt);
    &:hover{
      color: #fff;
      background: $tz-global-color;
    }
  }
  button{
    &:focus{
      outline: none;
    }
  }
}
&:not(.nav-menus-php){
  .wrap .page-title-action{
    background: $tzbackground;
    color: $tz-global-color;
    border-color: $tz-global-color;
    @include transition($butt);
    &:hover{
      color: #fff;
      background: $tz-global-color;
    }
  }
  .button {
    color: $tz-button-color;
    border-color: $tz-button-border-color;
    &:hover{
      color: $tz-button-color;
      border-color: darken($tz-button-border-color,10%);
    }
  }
  .button-primary{
    color: $tz-primary-color;
    background: $tz-primary-background-color;
    border-color: $tz-primary-background-color;
    @include transition($butt);
    &:hover{
      color: $tz-primary-color;
      background: lighten($tz-primary-background-color, 8%);
      border-color: lighten($tz-primary-background-color, 8%);
    }
  }
}

//.redux-container .ui-button,
//.control-section-redux .ui-button,
//.control-panel-redux .ui-button,
//.redux-metabox .ui-button{
//  background-image: none;
//  text-shadow: none;
//  background-color: transparent;
//  border-color: $tz-border-color;
//  @include box-shadow(none);
//}
