.media-frame{
  h2.media-attachments-filter-heading{
    font-size:13px;
    font-weight:600;
  }
  select.attachment-filters{
    line-height: 30px;
  }
  .attachments{
    padding:2px 8px 8px;
  }
  button.media-menu-item{
    box-sizing: unset;
  }
  .search{
    margin: 32px 0 0;
  }
  .media-frame-title{
    h1{
      font-size:22px;
      line-height: 2.2em;
      font-weight:600;
    }
  }

  .attachment-details{
    h2{
      font-size:14px;
      line-height: 1.5em;
      margin-top: 5px;
    }
  }
  .media-frame-toolbar{
    button{
      margin-top: 15px;
    }
  }
}