
$progress-bar-animation-timing:     1s linear infinite !default;

.ui-progress-stripped {
  @include ui-gradient-striped();
  background-size: $progress-height $progress-height;
}
.ui-progress-animated {
  animation: $progress-bar-animation-timing progress-bar-stripes;
}
.uk-progress{
  &.uk-progress-success{
    &::-webkit-progress-value{
      background-color: $tz-progress-bg-success-color;
    }
    &::-moz-progress-bar{
      background-color: $tz-progress-bg-success-color;
    }
    &::-ms-fill{
      background-color: $tz-progress-bg-success-color;
    }
  }
}