.ui-widget.ui-widget-content{
  border: none;
  &.ui-widget-shadow{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
&:not(.tzfrm-postype){
  .fl-tz_layout-ui-tooltip{
    .ui-tooltip-content{
      top: 0;
    }
    .fl-arrow{
      margin-bottom: 2px;
    }
  }
}