
$tzline:#000;
$tzbackground:#fff;
$tzhover:#727cf5;
$tzdelete:#ff3366;
$tzspin: #007bff;

$btn-secondory: #7987a1;

$all: all 0.3s ease-in-out;
$circle: all 0.4s ease-in-out;
$butt: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
$shadow_all:0 8px 10px 0 rgba(183, 192, 206, 0.2);