// Override bootstrap
$hr-margin-y: 0;
$link-decoration: none;
//$green: #5cb85c;

//$primary:       #727cf5 !default;
//$danger:        #f0506e !default;
//$alert-background:       $danger !default;

// scss-docs-start theme-colors-map
$theme-colors: (
        "primary":    #727cf5,
        "secondary":  #555555,
        "success":    #5cb85c,
        "info":       #0DCAF0,
        "warning":    #FFC107,
        "danger":     #f0506e,
        "light":      #fff,
        "dark":       #222
) !default;