//@import "../../../assets/scss/vendor/bootstrap_grid/bootstrap-grid";

@import "variables";
@import "mixins";

#poststuff,
#nav-menus-frame{
  .hide{
    display: none;
  }
  .wrap{
    margin-right: 0;
  }
  .templaza-framework-options{
    h2{
      font-size: 1.3em;
      padding-left: 0;
      padding-right: 0;
    }
  }
  .postbox{

    .templaza-framework-options{
      border: none;
      background: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      background-image: none;
      .redux-main{
        margin: 0;
        padding: 0;
        border: none;
        min-height: 0;
      }
      .redux-group-tab{
        padding: 0;
        display: block;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
    }
  }
  #side-sortables{
    ul{
      padding-left: 0;
    }
    .templaza-framework-options{
      //border: none;
      //background: none;
      //-webkit-box-shadow: none;
      //-moz-box-shadow: none;
      //box-shadow: none;
      //background-image: none;
      select{
        //width: 100%;
        min-width: 200px;
      }
      //.redux-main{
      //  margin: 0;
      //  padding: 0;
      //  border: none;
      //  min-height: 0;
      //}
      //.redux-group-tab{
      //  padding: 0;
      //  display: block;
      //  -webkit-box-shadow: none;
      //  -moz-box-shadow: none;
      //  box-shadow: none;
      //}
    }

    .form-table{
      display: block;
      tbody, tr{
        display: block;
      }
      th, td{
        display: block;
        width: 100%;
      }
      th{
        padding: 10px 0;
      }
      td{
        padding: 0 0 10px;
      }
      span.description{
        display: block;
        font-style: normal;
        font-weight: 400;
      }
      .regular-text{
        width: 95%;
      }
      .field-desc{
        clear: both;
      }
    }
    .redux-container{
      .redux-main .redux-field-container{
        padding: 0;
      }
      .redux_field_th{
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
  .menu-item{
    .menu-item-handle{
      .item-title{
        margin-right: 0;
      }
      &:hover .tz_mm_launch{
        opacity: 1;
      }
    }
    .tz_mm_launch{
      opacity: 0;
      font-size: 12px;
      line-height: 1.5;
      min-height: 0;
      font-weight: normal;
      padding: 1px 5px 2px;
      position: relative;
      z-index: 1;
      background: $tzhover;
      border-color: $tzhover;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      > .fa-box-open{
        font-size: 80%;
      }
    }
  }
}

#nav-menus-frame{
  .templaza-framework-options{
    border: none;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-image: none;
    .redux-main{
      margin: 0;
      padding: 0;
      border: none;
      min-height: 0;
    }
    .redux-group-tab{
      padding: 0;
      display: block;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
}


@import "shortcode/widget";
@import "metabox/megamenu";