$grid-gutter-width:           2.5rem !default;
@import "../../../assets/scss/vendor/uikit/variables-theme.scss";
@import "../../../assets/scss/vendor/uikit/mixins-theme.scss";

:root { --uk-position-margin-offset: 0px; }

.templaza-framework__body {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  @import "variables_override.scss";
  //@import "bootstrap_custom.scss";
  @import "../../../assets/scss/vendor/uikit/uikit-theme.scss";
  &:not(.nav-menus-php){
    //@import "bootstrap/bootstrap_addition.scss";
    .progress-bar-animated.bg-success {
      background-image:none;
    }

    .search-box, .wp-header-end {
      margin: 0;
    }
    .widefat tfoot td, .widefat tfoot th{
      border-top-width: 1px;
      border-top-style: solid;
    }
    .widefat thead td, .widefat thead th {
      border-bottom-width: 1px;
      border-bottom-style: solid;
    }
    .updates-table tbody td.check-column, .widefat tbody th.check-column,
    .widefat tfoot td.check-column, .widefat thead td.check-column {
      padding: 11px 0 0 3px;
    }
    .updates-table td input, .widefat tfoot td input, .widefat th input, .widefat thead td input{
      margin: 0 0 0 8px;
    }
    .widefat tfoot td.check-column, .widefat thead td.check-column {
      padding-top: 4px;
      vertical-align: middle;
    }
    .tablenav .actions select {
      margin-right: 6px;
    }
    .search-box input[name="s"], .tablenav .search-plugins input[name="s"], .tagsdiv .newtag{
      margin: 0 4px 0 0;
    }
    .ac_match, .subsubsub a.current {
      color: #000;
    }
  }

  @import "variables.scss";
  @import "mixins.scss";

  $enable-shadows:              true !default;

  //.redux-container-tz_layout{
  //  .container-fluid .field-tz_layout-content{
  //    --#{$variable-prefix}gutter-x: #{$grid-gutter-width};
  //    margin-right: calc(var(--#{$variable-prefix}gutter-x) / -2); // stylelint-disable-line function-disallowed-list
  //    margin-left: calc(var(--#{$variable-prefix}gutter-x) / -2); // stylelint-disable-line function-disallowed-list
  //  }
  //}
  &.tzfrm-postype{
    a{
      color: $tz-global-color;
      &:hover{
        color: lighten($tz-global-color, 7%);
      }
    }
    .redux-container-tz_layout .fl_control,
    .redux-container-tz_layout__dialog .fl_control,{
      color: #71748d;
      &:hover {
        color: $tz-global-color;
      }
    }
    .redux-container-tz_layout .fl_add-element-not-empty-button,
    .redux-container-tz_layout__dialog .fl_add-element-not-empty-button{
      color: #71748d;
      &:hover {
        color: #fff;
      }
    }

  }

  .redux-container-tz_layout .fl_control,
  .redux-container-tz_layout__dialog .fl_control,{
    color: #71748d;
    &:hover {
      color: $tz-global-color;
    }
  }
  .redux-container-tz_layout .fl_add-element-not-empty-button,
  .redux-container-tz_layout__dialog .fl_add-element-not-empty-button{
    color: #71748d;
    &:hover {
      color: #fff;
    }
  }
  .redux-field-container{
    .iris-picker{
      box-sizing: content-box;
    }
  }
  //background: $tz-body-background;
  .w-100 {
    width: 100% !important;
  }

  .w-px-16 {
    width: 16px !important;
  }

  .w-px-150 {
    width: 150px !important;
  }

  .h-px-150 {
    height: 150px !important;
  }

  .h-px-103 {
    height: 103px !important;
  }

  .rotate-n45 {
    -webkit-transform: rotate(-45deg) !important;
    -moz-transform: rotate(-45deg) !important;
    -ms-transform: rotate(-45deg) !important;
    -o-transform: rotate(-45deg) !important;
    transform: rotate(-45deg) !important;
  }

  .rotate-n90 {
    -webkit-transform: rotate(-90deg) !important;
    -moz-transform: rotate(-90deg) !important;
    -ms-transform: rotate(-90deg) !important;
    -o-transform: rotate(-90deg) !important;
    transform: rotate(-90deg) !important;
  }

  .rotate-132 {
    -webkit-transform: rotate(132deg) !important;
    -moz-transform: rotate(132deg) !important;
    -ms-transform: rotate(132deg) !important;
    -o-transform: rotate(132deg) !important;
    transform: rotate(132deg) !important;
  }

  .rotate-135 {
    -webkit-transform: rotate(135deg) !important;
    -moz-transform: rotate(135deg) !important;
    -ms-transform: rotate(135deg) !important;
    -o-transform: rotate(135deg) !important;
    transform: rotate(135deg) !important;
  }

  .rotate-180 {
    -webkit-transform: rotate(180deg) !important;
    -moz-transform: rotate(180deg) !important;
    -ms-transform: rotate(180deg) !important;
    -o-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
  }

  .rotate-x-180 {
    -webkit-transform: rotateX(180deg) !important;
    -moz-transform: rotateX(180deg) !important;
    -ms-transform: rotateX(180deg) !important;
    -o-transform: rotateX(180deg) !important;
    transform: rotateX(180deg) !important;
  }

  .rotate-y-180 {
    -webkit-transform: rotateY(180deg) !important;
    -moz-transform: rotateY(180deg) !important;
    -ms-transform: rotateY(180deg) !important;
    -o-transform: rotateY(180deg) !important;
    transform: rotateY(180deg) !important;
  }

  .button-micro {
    min-height: 0;
    padding: 4px 8px;
    line-height: 1;

    .dashicons {
      width: 13px;
      height: 13px;
      font-size: 13px;
      line-height: 13px;
    }

    .featured {
      color: #ffb900;
    }
  }

  .redux-container .ui-buttonset .ui-icon {
    display: none;
  }

  h1.wp-heading-inline {
    font-size: 2em;
  }

  ul.subsubsub {
    margin: 0;
    padding: 0;
    a:not([class]) {
      color: inherit;
      text-decoration: none;
    }
  }
  .search-box, .wp-header-end {
    margin: 0;
  }
  .posts {
    background-color: $tz-background-container;
    -webkit-box-shadow: 0 8px 10px 0 rgba(183, 192, 206,  0.2);
    -moz-box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.2);
    -ms-box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.2);
    box-shadow: 0 8px 10px 0 rgba(183, 192, 206,  0.2);
    border-radius: 5px;
    border: none;
    thead, tfoot {
      td, th {
        border-color: $tz-border-color;
        a {
          vertical-align: bottom;
          font-size: 12px;
          font-weight: normal;
          color: $tz-muted-color !important;
          text-transform: uppercase;
        }
      }
    }
    tbody {
      tr {
        background-color: $tz-background-container;
      }
      tr + tr {
        td,th {
          border-top: 1px solid $tz-border-color;
        }
      }
    }
    a {
      text-decoration: none;
      &:not(.button):not(.submitdelete) {
        color: $tz-template-title-color;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  //.button {
  //  background: $tz-button-background-color;
  //  color: $tz-button-color;
  //  border-color: $tz-toolbar-border-color;
  //}
  //input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea {
  //  border-color: $tz-toolbar-border-color;
  //}

  @import "notices.scss";
  @import "button.scss";
  @import "form.scss";
  @import "spinner.scss";
  //@import "options.scss";
  //@import "component/options.scss";
  @import "ui_dialog";
  @import "_ui_tooltip";
  @import "_progress";
  @import "_media_lightbox";
  @import "heartbeat.scss";
  @import "main.scss";
}
@import "ui_tab";
@import "shortcode/widget";