.wp-admin .redux-container.templaza-framework-options {
  background: #f9fafb;
  background-image: none;
  border: none;
}
.wp-admin .redux-container.templaza-framework-options #redux-intro-text {
  display: none;
}
.wp-admin .redux-container.templaza-framework-options .redux_field_th {
  font-size: 13px;
}
.wp-admin .redux-container.templaza-framework-options .button {
  padding: 0.5rem 1rem;
  color: #727cf5;
  background: #fff;
  border-color: #727cf5;
  margin: 0;
  line-height: 1;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -moz-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -ms-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.wp-admin .redux-container.templaza-framework-options .button:hover {
  background: #727cf5;
  border-color: #727cf5;
  color: #fff;
}
.wp-admin .redux-container.templaza-framework-options .button.button-primary {
  padding: 0.5rem 1rem;
  color: #fff;
  background: #727cf5;
  border-color: #727cf5;
  margin: 0;
  line-height: 1;
}
.wp-admin .redux-container.templaza-framework-options .button.button-primary:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.wp-admin .redux-container.templaza-framework-options .redux-main {
  margin-left: 226px;
  background: none;
  border: none;
  padding: 0;
}
.wp-admin .redux-container.templaza-framework-options .redux-main #redux-sticky {
  border: none;
  background: #fff;
  -webkit-box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.2);
  -moz-box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.2);
  -ms-box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.2);
  box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.2);
  margin: 0 0 25px;
}
.wp-admin .redux-container.templaza-framework-options .redux-main #redux-sticky #info_bar {
  background: #fff;
  border: none;
  height: 32px;
  padding: 8px 10px 6px 6px;
}
.wp-admin .redux-container.templaza-framework-options .redux-main #redux-footer-sticky {
  margin: 0;
}
.wp-admin .redux-container.templaza-framework-options .redux-main #redux-footer-sticky #redux-footer {
  background: #fff !important;
  border: none;
}
.wp-admin .redux-container.templaza-framework-options .redux-main #redux-footer-sticky #redux-footer #redux-share a {
  color: #727cf5;
}
.wp-admin .redux-container.templaza-framework-options .redux-main .redux-group-tab {
  background: #fff;
  padding: 5px 20px 30px 20px;
  -webkit-box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.2);
  -moz-box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.2);
  -ms-box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.2);
  box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.2);
}
.wp-admin .redux-container.templaza-framework-options .redux-main input[type=text], .wp-admin .redux-container.templaza-framework-options .redux-main input[type=password] {
  display: inline-block;
  width: 55%;
  height: 35px;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  color: #495057;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 2px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 5px;
}
.wp-admin .redux-container.templaza-framework-options .redux-main input[type=text]:focus, .wp-admin .redux-container.templaza-framework-options .redux-main input[type=password]:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  outline: none;
  outline-width: 0;
  outline-color: transparent;
  box-shadow: none;
}
.wp-admin .redux-container.templaza-framework-options .redux-main .redux-container-multi_text .redux-multi-text li a.deletion {
  color: #ff3366;
  border: 1px solid #ff3366;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  height: 33px;
  padding: 0 1rem;
  font-size: 0.875rem;
  line-height: 33px;
  text-decoration: none;
  border-radius: 0.1875rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.wp-admin .redux-container.templaza-framework-options .redux-main .redux-container-multi_text .redux-multi-text li a.deletion:hover {
  background: #ff3366;
  color: #fff;
}
.wp-admin .redux-container.templaza-framework-options .redux-main .redux-container-multi_text .redux-multi-text-add {
  margin-top: 10px;
}
.wp-admin .redux-container.templaza-framework-options .redux-main .wp-picker-container button.wp-color-result:hover {
  background: #727cf5;
  color: #fff !important;
}
.wp-admin .redux-container.templaza-framework-options .redux-main .wp-picker-container button .wp-color-result-text {
  background: none;
  color: #727cf5;
  line-height: 12px;
  border: none;
}
.wp-admin .redux-container.templaza-framework-options .redux-main .wp-picker-container input.redux-color {
  line-height: 12px;
  font-size: 11px;
  height: auto;
  margin-right: 5px;
}
.wp-admin .redux-container.templaza-framework-options .redux-main .input-append .add-on, .wp-admin .redux-container.templaza-framework-options .redux-main .input-prepend .add-on {
  height: 33px;
  padding: 0 8px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 32px;
}
.wp-admin .redux-container.templaza-framework-options .redux-main .upload_button_div .media_upload_button {
  margin-right: 5px;
}
.wp-admin .redux-container.templaza-framework-options .redux-main .ui-buttonset .ui-state-active {
  background: #727cf5 !important;
  box-shadow: none !important;
  border-color: #727cf5 !important;
}
.wp-admin .redux-container.templaza-framework-options .redux-main .redux-container-switch .cb-enable {
  font-weight: normal;
}
.wp-admin .redux-container.templaza-framework-options .redux-main .redux-container-switch .cb-enable.selected {
  background: #727cf5 !important;
  box-shadow: none !important;
  border-color: #727cf5 !important;
}
.wp-admin .redux-container.templaza-framework-options .redux-main .redux-container-switch .cb-enable span {
  font-weight: normal;
}
.wp-admin .redux-container.templaza-framework-options .redux-main .redux-container-switch .cb-disable span {
  font-weight: normal;
}
.wp-admin .redux-container.templaza-framework-options #redux-header {
  background: #fff;
  margin-bottom: 25px;
  -webkit-box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.2);
  -moz-box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.2);
  -ms-box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.2);
  box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.2);
  border: none;
}
.wp-admin .redux-container.templaza-framework-options #redux-header .display_header {
  margin: 0 10px;
}
.wp-admin .redux-container.templaza-framework-options #redux-header .display_header h2 {
  text-transform: uppercase;
  color: #727cf5;
}
.wp-admin .redux-container.templaza-framework-options #redux-header .display_header span {
  color: #727cf5;
}
.wp-admin .redux-container.templaza-framework-options .redux-sidebar {
  background: #fff;
  -webkit-box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.2);
  -moz-box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.2);
  -ms-box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.2);
  box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.2);
}
.wp-admin .redux-container.templaza-framework-options .redux-sidebar .redux-group-tab-link-a span.group_title {
  padding-left: 25px;
}
.wp-admin .redux-container.templaza-framework-options .redux-sidebar .redux-group-tab-link-a i {
  font-size: 12px;
  top: 13px;
}
.wp-admin .redux-container.templaza-framework-options .redux-sidebar .redux-group-tab-link-a i.el-chevron-down {
  font-size: 8px;
  top: 20px;
}
.wp-admin .redux-container.templaza-framework-options .redux-sidebar .redux-group-menu li.activeChild.hasSubSections > a, .wp-admin .redux-container.templaza-framework-options .redux-sidebar .redux-group-menu li.active.hasSubSections > a {
  background: #fff !important;
  text-shadow: none !important;
  color: #727cf5 !important;
}
.wp-admin .redux-container.templaza-framework-options .redux-sidebar .redux-group-menu li.activeChild.hasSubSections > a:hover, .wp-admin .redux-container.templaza-framework-options .redux-sidebar .redux-group-menu li.active.hasSubSections > a:hover {
  background: #fff;
  color: #727cf5;
}
.wp-admin .redux-container.templaza-framework-options .redux-sidebar .redux-group-menu li.activeChild.hasSubSections > a i, .wp-admin .redux-container.templaza-framework-options .redux-sidebar .redux-group-menu li.active.hasSubSections > a i {
  color: #727cf5;
}
.wp-admin .redux-container.templaza-framework-options .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul li a, .wp-admin .redux-container.templaza-framework-options .redux-sidebar .redux-group-menu li.active.hasSubSections ul li a {
  background: #fff !important;
  text-shadow: none !important;
  padding: 5px 5px 5px 35px;
  font-size: 12px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.wp-admin .redux-container.templaza-framework-options .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul li a:before, .wp-admin .redux-container.templaza-framework-options .redux-sidebar .redux-group-menu li.active.hasSubSections ul li a:before {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #a9b4ca;
  position: absolute;
  left: 17px;
  top: 12px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.wp-admin .redux-container.templaza-framework-options .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul li a:hover, .wp-admin .redux-container.templaza-framework-options .redux-sidebar .redux-group-menu li.active.hasSubSections ul li a:hover {
  color: #727cf5 !important;
  padding-left: 38px;
  text-shadow: none !important;
}
.wp-admin .redux-container.templaza-framework-options .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul li a:hover:before, .wp-admin .redux-container.templaza-framework-options .redux-sidebar .redux-group-menu li.active.hasSubSections ul li a:hover:before {
  background: #727cf5;
  border: 1px solid #727cf5;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.wp-admin .redux-container.templaza-framework-options .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul li.active a, .wp-admin .redux-container.templaza-framework-options .redux-sidebar .redux-group-menu li.active.hasSubSections ul li.active a {
  color: #727cf5 !important;
  padding-left: 38px;
  text-shadow: none !important;
}
.wp-admin .redux-container.templaza-framework-options .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul li.active a:before, .wp-admin .redux-container.templaza-framework-options .redux-sidebar .redux-group-menu li.active.hasSubSections ul li.active a:before {
  background: #727cf5;
  border: 1px solid #727cf5;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.wp-admin .redux-container.templaza-framework-options .redux-sidebar .redux-group-menu li.redux-group-tab-link-li a {
  color: #000 !important;
  background: #fff;
}
.wp-admin .redux-container.templaza-framework-options .redux-sidebar .redux-group-menu li.redux-group-tab-link-li a:hover {
  background: #fff;
  color: #727cf5;
}

/*# sourceMappingURL=templaza-options.css.map */
