@import "../../../assets/scss/spinkit/variables";
$spinkit-size: 40px;
$spinkit-spinner-color: #727cf5;
@import "../../../assets/scss/spinkit/animation";

//@include sk-rotating-plane(40px, #210048);

.field-tz-preloader-dialog{
  box-sizing: border-box;
  position: fixed !important;
  background-color: transparent;
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 100102;
  .ui-dialog-titlebar{
    position: absolute;
    width: 100%;
    height: 37px;
    max-width: 80vw;
    top: 10vh;
    left: 10vw;
    box-sizing: border-box;
    z-index: 2;
    background: #fcfcfc;
    border-bottom: 1px solid #dfdfdf;
    font-size: 18px;
    font-weight: 600;
    line-height: 2;
    padding: 0 36px 0 16px;
  }
  .ui-dialog-content{
    height: 100% !important;
    max-height: 80vh !important;
    position: absolute;
    top: 10vh;
    left: 10vw;
    background: #fff;
    box-sizing: border-box;
    width: 100% !important;
    max-width: 80vw;
    z-index: 1;
    padding: 50px 16px 16px;
    overflow: auto;
  }
  &.ui-dialog-buttons{
    .ui-dialog-content{
      padding-bottom: 70px;
    }
  }
  .ui-dialog-buttonpane{
    position: absolute;
    bottom: 10vh;
    left: 10vw;
    z-index: 2;
    width: 100%;
    box-sizing: border-box;
    max-width: 80vw;
    background: #fcfcfc;
    border-top: 1px solid #dfdfdf;
    padding: 16px;
  }
  .ui-button.ui-dialog-titlebar-close{
    background: 0 0;
    border: none;
    box-shadow: none;
    color: #666;
    cursor: pointer;
    display: block;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    text-align: center;
    border-radius: 0;
    //.ui-icon {
    //  display: block;
    //  text-indent: -99999px;
    //  overflow: hidden;
    //  background-repeat: no-repeat;
    //}
    &:before{
      content: "\f158";
      font: normal 20px/1 dashicons;
      vertical-align: top;
      speak: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      line-height: 1.8;
      width: 36px;
      height: 36px;
    }
    &:focus {
      box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30,140,190,.8);
      outline: 2px solid transparent;
      outline-offset: -2px;
    }
  }
  .ui-dialog-titlebar-close .ui-button-text {
    display: none;
  }
  .ui-button {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 2;
    height: 28px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
    color: #555;
    border-color: #ccc;
    background: #f7f7f7;
    box-shadow: 0 1px 0 #ccc;
    vertical-align: top;
    &:active, &:focus {
      outline: 0;
    }
  }
  .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: right;
  }
}
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 360px;
  background: #000;
  opacity: .7;
  filter: alpha(opacity=70);
  z-index: 100101;
}
.tz-field-preloaders-selector{
  *, *::before, *::after {
    box-sizing: border-box;
  }
  .tz-preloader-select {
    cursor: pointer;
    border: 1px solid #e8ebf1;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    padding: 0px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
    display: inline-block;
    float: left;
  }
}
.redux-container-tz_preloader{
  .field-tz-preloader{
    cursor: pointer;
    padding: 10px;
    border: 1px solid #e8ebf1;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  //.field-tz-preloader-dialog{
  //  display: none;
  //}
  .tz-preloader-field-select {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
}