.ap-item.ap-item-style5{
  .ap-inner{
    .ap-meta-top{
      font-size:12px;
      color:$tztheme-global-color;
      text-transform: uppercase;
    }
    .ap-title{
      margin-bottom: 0;
      margin-top: 0;
    }
    .ap-readmore-box{
      display:flex;
      .templaza-btn{
        background:none;
        border: 1px solid $tztheme-border-color;
        font-size:14px;
        color:#333;
        height:auto;
        line-height: 1em;
        padding:10px 20px;
        &:hover{
          border-color:#777;
        }
      }
    }
    .ap-price-box{
      color:#333;
      font-weight:bold;
      font-size:1.2em;
      .ap-field-label{
        text-transform: uppercase;
        font-size:12px;
        color:$tztheme-content-color;
        display:block;
        margin-bottom:5px;
      }
      .meta{
        color:$tztheme-postmeta;
      }
      .ap-price-msrp{
        display:block;
        margin-top: 5px;
      }
      .ap-price{
        color:$tztheme-global-color;
      }
    }
    .ap-info-inner{
      padding:20px 0;
      &.ap-info-bottom{
        border-top:1px solid $tztheme-border-color;
      }
      &.ap-info-desc{
        padding-top:0;
        padding-bottom:25px;
      }
      &.ap-info-top{
        padding-top:32px;
        padding-bottom:15px;
      }
    }
    .ap-specification{
      &.ap-specification-style5{
        margin-left: -10px;
        .ap-spec-item{
          position: relative;
          padding: 3px 10px;
          color:$tztheme-postmeta;
          font-size:0.875em;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          &:first-child{
            background:transparent;
          }
          .ap-field-label{
            i{
              margin-right:10px;
              color:$tztheme-global-color;
              svg{
                padding-right:0;
                margin-right:0;
              }
            }
            svg{
              margin-right:10px;
              fill:$tztheme-global-color;
              width:20px;
            }
          }
          .ap-spec-value{
            color:$tztheme-content-color;
            font-weight:normal;
          }
        }
      }
    }
  }
  &:hover{
    .ap-inner{
      @include transition($tztheme-transition-all);
    }
  }
}
.ap-item.ap-item-style6{
  .ap-before-title{
    font-size:12px;
  }
  .ap-inner{
    .ap-info-inner{
      &.ap-info-button{
        padding-top:10px;
        padding-bottom:30px;
      }
    }
    .ap-readmore-box{
      justify-content: center;
      width:100%;
      height:50px;
      align-items: center;
      position:relative;
      .ap-view-detail{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
      }
      .readmore-label{
        display:flex;
        align-items: center;
        line-height: 1em;
        &:after{
          content:"";
          width:10px;
          height:1px;
          background: #eee;
          margin:0 5px;
          display:flex;
        }
      }
      .ap-price-box{
        .ap-field-label{
          display:none;
        }
        .ap-price{
          line-height: 1em;
        }
      }
    }
  }
}
@media screen and (max-width: 1199.99px) {
  .ap-item.ap-item-style5{
    .ap-inner{
      .ap-specification.ap-specification-style5{
        .ap-spec-item{
          .ap-field-label{
            i, svg{
              margin-right:3px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 959.99px) {
  .ap-item.ap-item-style5{
    .ap-inner{
      .ap-specification.ap-specification-style5{
        margin-left:-5px;
        .ap-spec-item{
          padding:3px 5px;
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .ap-item.ap-item-style5{
    .ap-inner{
      .ap-specification.ap-specification-style5{
        margin-left:-8px;
        .ap-spec-item{
          padding:3px 8px;
        }
      }
    }
  }
}