.templaza-ap-archive{
  .ap-item{
    .ap-inner{
      border:1px solid #e8e8e8;
      @include transition($tztheme-transition-all);
      @include box-shadow($tztheme-box-shadow-default);
      .ap-title{
        font-size:$tztheme-ap-archive-title-size;
        font-weight:$tztheme-ap-archive-title-weight;
        margin-bottom: 10px;
      }
      .ap-price-box{
        color:$tztheme-global-color;
        line-height: 1;
        .meta{
          color:$tztheme-postmeta;
        }
      }
      .ap-info-inner{
        padding:20px;
        &.ap-info-bottom{
          border-top:1px solid #f7f4ed;
          padding:15px 20px;
        }
      }
      .ap-specification{
        .ap-spec-item{
          padding:3px 10px;
          color:$tztheme-heading-color;
          font-size: 0.875em;
          @include transition($tztheme-transition-all);
          &:hover{
            background: $tztheme-button_background;
            @include transition($tztheme-transition-all);
            a{
              color:$tztheme-heading-color;
            }
          }
        }
      }
    }
    &:hover{
      .ap-inner{
        border-color:#6d8c53;
        @include transition($tztheme-transition-all);
      }
    }
  }
}