.redux-main {
    .redux-typography-container{
        .input-append{
            input[type="text"]{
                height: 28px;
            }
        }
        .tabs{
            border: none;
        }
        .ui-tabs-nav{
            margin: 0;
            border: none;
            font-weight: normal;
            > li{
                float: left;
                border: none;
                margin-right: 2px;
                background-image: none !important;
                background-color: transparent !important;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                outline: none;
                &:focus{
                    outline: none;
                }
            }
            label{
                padding-right: 5px;
            }
            .ui-state-default{
                a{
                    color: #999;
                }
            }
            a{
                color: #999;
                &:hover{
                    text-decoration: underline;
                }
            }
            .ui-tabs-active{
                a{
                    text-decoration: underline;
                }
            }
        }
        .ui-tabs-panel{
            border: none;
            .typography-input{
                .redux-container.templaza-framework-options &{
                    height: 28px;
                    margin-right: 4px;
                }
            }
            .select2-container{
                top: -2px;
                &:focus{
                    outline: none;
                }
            }
            .select2-selection--single{
                height: 30px;
                &:focus{
                    outline: none;
                }
            }
        }
        .input_wrapper, .select_wrapper{
            margin-bottom: 5px;
        }
     }
}
