.templaza-recent-news {
  //margin-top: 55px;
  .templaza-news-image{
    img{
      width:100%;
      height:auto;
      @include border-radius(5px);
    }
  }
  .templaza-news-info{
    .date{
      color:#9bacb5;
      margin-top: 25px;
      font-size:12px;
      display: block;
    }
    .title{
      font-size:20px;
      font-weight:700;
      margin-top: 15px;
    }
    .excerpt{
      margin-top: 15px;
    }
    .sub-info{
      margin-top: 15px;
      a{
        font-size:14px;
        color:$heading-color;
        &:hover{
          color:$global-color;
        }
      }
    }
  }
}