.templaza-service{
   background: #ffffff;
   padding: 40px 30px 30px;
   border: 2px solid #ecf2fa;
   @include border-radius(5px);
   @include transition($transition-all);
   .templaza-service-title{
      font-size: 30px;
      font-weight: 800;
      margin-top: 30px;
   }
   .templaza-service-description{
      margin-top: 20px;
   }
   .service-readmore{
      padding:10px 0;
      span{
         display: inline-block;
         position:relative;
         height:1px;
         background:#7c859a;
         width:23px;
         @include transition($transition-all);
         &:before,&:after{
            position:absolute;
            content:"";
            width:10px;
            height:1px;
            background:#7c859a;
            transform: rotate(45deg);
            bottom:4px;
            right:0;
            @include transition($transition-all);
         }
         &:after{
            top: auto;
            bottom: -4px;
            transform: rotate(-45deg);
         }
      }

      &:hover{
         span{
            background:$global-color;
            @include transition($transition-all);
            &:after,&:before{
               background:$global-color;
               @include transition($transition-all);
            }
         }
      }
   }
   &:hover{
      @include transition($transition-all);
      border-color:transparent;
      cursor: pointer;
      @include box-shadow(0px 0px 60px 0px rgba(0,0,0,0.2));
      .templaza-service-title{
         color:$global-color !important;
         @include transition($transition-all);
      }
   }
   &.style2{
      border:none;
      background:none;
      .templaza-service-icon{
         width:70px;
         height:70px;
         background:$global-color;
         color:#fff;
         text-align: center;
         line-height: 85px;
         @include border-radius(50%);
         float:left;
         i{
            font-size:30px;
         }
      }
      .templaza-service-title,.templaza-service-description{
         padding-left:100px;
      }
      .templaza-service-title{
         margin-top:0;
      }
      .templaza-service-description{
         margin-top: 15px;
      }
   }
}