.templaza-testimonials{
  margin-top: 30px;
  .slider-item{
    text-align: center;
    padding:50px;
    background:#fff;
    border: 2px solid #ecf2fa;
    @include border-radius(5px);
    .testimonial-image{
      width:70px;
      height:70px;
      overflow: hidden;
      @include border-radius(50%);
      margin: 0 auto;
      img{
        object-fit: cover;
        width:70px;
      }
    }
    h3{
      font-size:20px;
    }
    span{
      font-size:14px;
    }
    .testimonial_content{
      border-top:1px solid #eee;
      margin-top: 20px;
      padding-top:20px;
    }
  }
  .owl-dots{
    padding-top:40px;
    padding-bottom: 50px;
    text-align: center;
    .owl-dot{
      width:10px;
      height:10px;
      background:#ccc;
      cursor: pointer;
      display:inline-block;
      @include transition($tztheme-transition-all);
      @include border-radius(50%);
      margin: 0  10px;
      &:hover, &.active{
        background:$tztheme-global-color;
        @include transition($tztheme-transition-all);
      }
    }
  }
  .testimonial-star{
    &:before{
      font-family: "Font Awesome 5 Free";
      color:#ffb802;
      font-weight:700;
    }
    &.star-5{
      &:before{
        content: '\f005 \f005 \f005 \f005 \f005 ';
      }
    }
    &.star-4{
      &:before{
        content: '\f005 \f005 \f005 \f005 ';
      }
    }
    &.star-3{
      &:before{
        content: '\f005 \f005 \f005 ';
      }
    }
    &.star-2{
      &:before{
        content: '\f005 \f005 ';
      }
    }
    &.star-1{
      &:before{
        content: '\f005 ';
      }
    }
  }
}