.templaza-single-service{
  .single-box{
    &:not(:first-child){
      margin-top:40px;
    }
    &.image{
      padding:0;
    }
    .title{
      position:relative;
      a{
        font-family: $tztheme-heading-font;
        font-size:18px;
        padding:20px 30px;
        @include border-radius($tztheme-button_radius);
        &:hover{
          background: $tztheme-global-color;
          color:$tztheme-button_text_color_hover;
        }
      }
      &.uk-active{
        a{
          background: $tztheme-global-color;
          color:$tztheme-button_text_color_hover;
        }
      }
      i{
        position:absolute;
        right:15px;
        top:50%;
        margin-top:-9px;
      }
    }
  }
  .single-content-box{
    li > figure{
      margin-top: 0;
    }
  }
}
@media(max-width: 1199.9px) {
  body .templaza-single-service .single-box{
    padding:30px;
  }
}
@media(max-width: 959.9px) {
  body .templaza-single-service .single-box{
    padding:20px;
    .title a{
      padding:15px 20px;
      font-weight: 700;
      font-size:16px;
    }
  }
}