$tztheme-spinkit-size:                          var(--tztheme-preloader-size, 4em) !default;
$tztheme-spinkit-spinner-color:                 var(--tztheme-preloader-color, #337ab7) !default;

/* Wave */
$tztheme-sk-wave-rectCount:                     5 !default;
$tztheme-sk-wave-animationDuration:             1.2s !default;
$tztheme-sk-wave-delayRange:                    0.4s !default;

/* wandering-cubes */
$tztheme-sk-wandering-cubs-animationDuration:   1.8s !default;
$tztheme-sk-wandering-cubeDistance:             calc(#{$tztheme-spinkit-size} * 0.55) !default;

/* chase */
$tztheme-sk-chase-count:                         6 !default;
$tztheme-sk-chase-delayRange:                    1.1s !default;
$tztheme-sk-chase-animationDuration:             2.5s !default;

/* chasing-dots */
$tztheme-sk-chasing-dot-animationDuration:       2.0s !default;

/* sk-three-bounce */
$tztheme-sk-three-bounce-animationDuration:       1.4s !default;
$tztheme-sk-three-bounce-delayRange:              0.32s !default;

/* sk-circle */
$tztheme-sk-circle-count:                         12 !default;
$tztheme-sk-circle-animationDuration:             1.2s !default;

/* sk-cube-grid */
$tztheme-sk-circle-delayRange:                    0.4s !default;

/* sk-fading-circle */
$tztheme-sk-fading-circle-count:                  12 !default;
$tztheme-sk-fading-circle-animationDuration:      1.2s !default;

/* sk-folding-cube */
$tztheme-sk-folding-cube-count:                   4 !default;
$tztheme-sk-folding-cube-animationDuration:       2.4s !default;
$tztheme-sk-folding-cube-delayRange:              ($tztheme-sk-folding-cube-animationDuration / 2) !default;