div.templaza-single-post {
  .templaza-news-item{
    img{
      max-width:100%;
      height:auto;
      @include border-radius(5px);
    }
  }
  h3{
    &.block_title, &.comment-reply-title{
      color:$tztheme-heading-color;
      font-weight:700;
      font-size:24px;
    }
  }
  .info{
    color: lighten($tztheme-content-color, 19%);
    > *:not(:last-child):after{
      content: "";
      top: 2px;
      width: 1px;
      height: 15px;
      margin: 0 15px;
      position: relative;
      display: inline-block;
      background: lighten($tztheme-content-color, 19%);
    }
  }
}