table{
  border-spacing: 0;
  border-collapse: collapse;
  thead{
    tr{
      background:$tztheme-table-heading-bg;
      th{
        border:$tztheme-input-border;
        color:$tztheme-heading-color;
        padding:5px 15px;
      }
      &:last-child{
        th{
          border-bottom:$tztheme-input-border;
        }
      }
    }
  }
  td,th{
    border:$tztheme-input-border;
    padding:5px 15px;
  }
  &.is-style-stripes{
    th,td{
      border-width:0;
    }
  }
}
.wp-block-table{
  &.is-style-stripes{
    th,td{
      border-width:0;
    }
  }
}