.templaza-btn-outline{
  @include button-default;
  background:none !important;
  border:1px solid $tztheme-heading-color !important;
  @include border-radius(0);
  &:hover{
    background: none !important;
    color:$tztheme-heading-color !important;
    border-color:$tztheme-button_background_hover !important;
  }
}
