#comments{
  h3.block_title{
    margin-bottom: 35px;
  }
  .comment-notes{
    margin-bottom: 20px;
  }
  .comment-form-cookies-consent{
    margin-bottom: 20px;
    label{
      display:inline;
      font-size: inherit;
    }
  }
  .comment-form-comment{
    &.login{
      label{
        display: block;
        margin:10px 0 20px 0;
      }
    }
  }
  #submit{
    margin-top: 0;
  }
  ol{
    li{
      list-style: none;
    }
  }
}
.comment-list {
  padding:0;
  list-style: none;
  .comments{
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: $tztheme-input-border;
    .comment-author{
      float:left;
      margin-right: 30px;
      img{
        width:70px;
        height:auto;
      }
    }
    .comment-content{
      padding-left: 100px;
      .comment-head{
        display: flex;
        justify-content: space-between;
        h5{
          margin:0;
        }
        .comment-info{
          font-size:0.8em;
          color:$tztheme-postmeta;
          font-style: italic;
        }
      }
      .edit-reply{
        font-size:0.8em;
      }
    }
  }
}
.comment-reply-title{
  small{
    float:right;
    text-transform: capitalize;
  }
}