.templaza-footer {
  .container{
  }
  div.templaza-sidebar{
    .widget-area .widget{
      h5{
        color:green;
      }
      h2{
        color:#fff;
        font-size:20px;
        border-top:none;
        padding-top:0;
        margin-bottom: 10px;
      }
      h3{
        color:#fff;
        border-top:none;
        padding-top:0;
        margin-bottom: 10px;
      }
      i{
        color:$tztheme-global-color;
        margin-right: 8px;
      }
      img{
        padding-bottom: 15px;
      }
    }
    ul{
      li{
        a{
          color:#868686;
          &:hover{
            color:$tztheme-global-color;
          }
          i{
            padding-right:10px;
          }
        }
      }
      &.templaza-social{
        li{
          a{
            i{
              padding:0;
            }
          }
        }
      }
    }
  }
  ul{
    &.tz-menu-vertical{
      li{
        padding-bottom:10px;
      }
    }
    li{
      a{
        i{
          padding-right:10px;
        }
      }
    }
  }
  .tnp-subscription-minimal input.tnp-email{
    max-width:none;
  }
}
.templaza-footer-bottom{
  font-size:14px;
  padding: 20px 0;
  .templaza-social{
    text-align: right;
    justify-content: right;
    li{
      a{
        color:#fff;
        font-size:1.2em;
        padding:0 15px;
      }
    }
  }
}
#templaza-backtotop{
  position:fixed;
  text-align: center;
  z-index: 99999;
  i{
    line-height: 40px;
  }
}
.templaza-wp_menu{
  .widget_nav_menu{
    ul.tz-menu-horizontal{
      padding:0;
      li{
        list-style: none;
        display:inline-block;
        padding:0 10px;
      }
    }
  }
}
