form{
  input{
    font-family: inherit;
    &[type="text"],
    &[type="email"],
    &[type="search"]
    {
      @include input-default;
      width:100%;
    }
    &[type="password"]{
      @include input-default;
    }
    &[type="submit"]{
      cursor: pointer;
    }
    &:focus-visible{
      outline:none;
    }
  }
  textarea{
    @include input-default;
    height:auto;
    width:100%;
    font-family: inherit;
    &:focus-visible{
      outline:none;
    }
  }
  input[type="submit"],
  button{
    @include button-default;
    @include input-default;
    border-color:transparent;
    font-family: $tztheme-button-font;
  }
  select{
    @include input-default;
  }
}
select{
  @include input-default;
}
.searchform{
  input[type="text"]{
    font-size:0.9em;
  }
  i{
    display:none;
  }
  input.submit{
    font-size:0.9em;
    padding: 0 25px;
    @include border-radius(0);
  }
}