.pagination {
  .screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
  }
  .nav-links{
    display:block;
    text-align: center;
    width:100%;
    line-height: 1em;
    span,a{
      display:inline-block;
      padding:10px 15px;
      background:#fff;
      border:1px solid $tztheme-border-color;
      margin: 0 3px;
      @include transition($tztheme-transition-all);
    }
    a{
      &:hover{
        background:$tztheme-global-color;
        color:#fff;
        @include transition($tztheme-transition-all);
      }
    }
    span{
      &.current{
        background:$tztheme-global-color;
        color:#fff;
        @include transition($tztheme-transition-all);
      }
    }
  }
}
div .wp-pagenavi{
  padding-top: 30px;
  span {
    margin: 0 5px;
    padding: 9px 16px;
    display: inline-block;
    background: #ffffff;
    border: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    &.current {
      font-weight: normal;
      background: $tztheme-global-color;
      color: #ffffff;
    }
  }
  a {
    display: inline-block;
    padding: 9px 16px;
    margin: 0 5px;
    border-radius: 2px;
    border: none;
    background: #ffffff;
    color: #565656;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    &:hover {
      background: $tztheme-global-color;
      color: #ffffff !important;
    }
  }
}