.templaza-sidebar {
  form, form.wpcf7-form, form.woocommerce-product-search {
    position: relative;
    input[type="text"], input[type="email"],input[type="search"]{
      @include input-default;
    }
    input.submit{
      background: none;
      border: none;
      font-size: 0;
      height: $tztheme-input-height;
      position: absolute;
      right: 0;
      top: 0;
      width: $tztheme-input-height;
      z-index: 1;
    }
    i.i-search{
      position: absolute;
      right: 18px;
      top: 50%;
      color:$tztheme-heading-color;
    }
    &.searchform{
      input[type="text"], input[type="email"], input{
        margin-bottom: 0;
      }
    }
  }
}
.searchform {
  input[type="text"] {
    position: relative;
    width: 100%;
  }
}
.has-button-icon {
  width: $tztheme-input-height;
}