.templaza-sidebar {
  .widget_text{
    ul{
      li{
        padding-left:0;
        padding-bottom:10px;
        &.option{
          padding-left:15px;
          padding-bottom:3px;
        }
        &:last-child{
          padding-bottom:0;
        }
        &:before{
          display:none;
        }
        a{
          display:inline;
        }
        span{
          font-style: italic;
        }
        &:hover{
          a{
            padding-left:0;
          }
        }
      }
    }
    img{
      max-width:100%;
      width:auto;
      height:auto;
    }
  }
}