.widget_tag_cloud,.wp-block-tag-cloud{
  a{
    float: left;
    margin: 0 10px 10px 0;
    padding: 4px 11px 6px;
    text-decoration: none;
    background: #fafafa;
    color: $tztheme-content-color;
    border: $tztheme-input-border;
    @include border-radius(2px);
    @include transition($tztheme-transition-all);
    font-size: 1em !important;
    &:hover{
      @include transition($tztheme-transition-all);
      background:$tztheme-button_background_hover;
      color:$tztheme-button_text_color_hover;
    }
  }
  &:after{
    content: '';
    clear: both;
    display: block;
  }
}
