.templaza-sidebar {
  .widget_rss, .widget_rss-sidebar{
    ul{
      li{
        padding-left:0;
        &:last-child{
          padding-bottom:0;
        }
        &:before{
          display:none;
        }
        a{
          display:inline;
        }
        span{
          font-style: italic;
        }
        &:hover{
          a{
            padding-left:0;
          }
        }
      }
    }
  }
}