.widget{
  &.widget_text, &.widget_text-sidebar {
    img {
      display: block;
    }
    br {
      margin-bottom: 20px;
      display: block;
      content: "";
    }
  }
  &.style1{
    h2,h3{
      position:relative;
      padding-top:0;
      border-top:none;
      padding-bottom:20px;
      border-bottom:1px solid #ebebeb;
      &.widget-title{
        &:after {
          content: '';
          display: block;
          width: 70px;
          height: 1px;
          background: #222222;
          position: absolute;
          bottom: -1px;
          left: 0;
          @include transition($tztheme-transition-ease-in-out);
        }
        span {
          display: inline-block;
          position: relative;
        }
      }
      i{
        padding-right:10px;
      }
    }
    &:hover{
      h3.widget-title{
        &:after{
          width:100%;
          @include transition($tztheme-transition-ease-in-out);
        }
      }
    }
    .widget-content{
      >h2, >h3{
        i{
          padding-right:10px;
        }
        &:after {
          content: '';
          display: block;
          width: 70px;
          height: 1px;
          background: #222222;
          position: absolute;
          bottom: -1px;
          left: 0;
          @include transition($tztheme-transition-ease-in-out);
        }
      }
      &:hover{
        >h2, >h3{
          &:after{
            width:100%;
            @include transition($tztheme-transition-ease-in-out);
          }
        }
      }
    }
  }
  &.style2{
    h3{
      border:none;
      padding:15px 20px;
      i{
        font-size:0.9em;
        padding-right:10px;
      }
    }
  }
  &.widget_search, &.widget_search-sidebar, &.widget_product_search, &.widget_product_search-sidebar{
    padding:0;
  }
}
.templaza-sidebar {
  ul,ol{
    padding:0;
    li{
      margin: 10px 0;
      list-style:none;
    }
  }
}
