.templaza-sidebar {
  table{
    margin-bottom: 0;
    width:100%;
    &.wp-calendar-table{
      text-align: center;
    }
    thead{
      tr{
        th{
          border: $tztheme-input-border;
          padding:8px;
          background:$tztheme-table-heading-bg;
        }
      }
    }
    tbody{
      tr{
        td{
          border: $tztheme-input-border;
          padding:8px;
          &#today{
            background:$tztheme-button_background;
            color:$tztheme-button_text_color;
          }
        }
      }
    }
  }
}