.field-tz_loop__container{
  &.redux-container{
    .redux-main {
      .wp-admin & {
        margin-left: 0;
      }
    }
  }
}
.redux-container-tz_loop{
  .redux-container &{
    .field-tz_loop-accordion-group{
      margin-bottom: .75rem;
      -webkit-box-shadow: 0 0 10px 0 rgba(183,192,206,.2);
      -moz-box-shadow: 0 0 10px 0 rgba(183,192,206,.2);
      box-shadow: 0 0 10px 0 rgba(183,192,206,.2);
    }
    .ui-accordion-header{
      margin-top: 0;
      font-weight: 600;
      margin-bottom: 0;
      padding: 0.4rem 1.5rem;
      background-image: none !important;
      background-color: #fff !important;
      border: 1px solid #f2f4f9 !important;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      border-bottom: none !important;
      &:focus{
        outline: none;
      }
      .field-icon{
        position: absolute;
        left: 0.55em;
        top: 50%;
        margin-top: -6px;
      }
    }
    .ui-accordion-content{
      margin-bottom: 0;
      border-color: #f2f4f9;
      border-top: 1px solid #f2f4f9;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      .nav-menu-meta &{
        padding: 1em;
      }
    }
    .add-more{
      margin-top: 20px !important;
    }
    .ui-state-highlight{
      border-color: #feecb9;
      background-image: none;
      background-color: #fef2cd;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
  }
}