@mixin transform($transforms) {
  -webkit-transform: $transforms;
  -moz-transform: $transforms;
  -ms-transform: $transforms;
  transform: $transforms;
}
.uk-marker {
  @include media-breakpoint-only(xs) {
    padding: 0;
  }
}
.tz-embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.tz-embed-responsive{
  &.tz-embed-responsive-16by9 {
    padding-bottom: 56.25%;
  }
  .tz-embed-responsive-item, embed, iframe, object {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
  }
}
.tz-image-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
  > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.ui-post-filter {
  ul li {
    margin: 0;
    a {
      line-height: inherit;
    }
  }
}
.ui-post-loading {
  &.endpost {
    display: none;
  }
}
.menu {
  .menu-item.uk-parent {
    > .megamenu-item-link > .nav-item-caret {
      &:after{
        content: "";
        width: $nav-parent-icon-width;
        height: $nav-parent-icon-height;
        float: right;
        @include svg-fill($internal-nav-parent-close-image, "#000", $nav-parent-icon-color);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        @if(mixin-exists(hook-nav-parent-icon)) {@include hook-nav-parent-icon();}
      }
    }
    &.uk-open{
      > .megamenu-item-link > .nav-item-caret::after { @include svg-fill($internal-nav-parent-open-image, "#000", $nav-parent-icon-color); }
    }
  }
}